{% extends "base.html" %}

{% block title -%}
    CCF Freshmen Resources
{%- endblock %}

{% block meta -%}
    Resources for incoming freshmen about Christian Campus Fellowship
{%- endblock %}

{% block css %}
    {{ super() }}
    <!-- temporary workaround of crbug.com/117102 -->
    <style>
        div.content {
            overflow: auto;
        }
    </style>
    <link type="text/css" rel="stylesheet" href="/stylesheets/freshmen.css"/>
{% endblock %}

{% block content %}
    <h1 class="pageTitle">Freshmen Information</h1>
    <div class="freshmeninfocontainer">
        <div class="left-side">
            <div style="text-align:center; font-weight: bold; font-size: 3em">O-Week</div>
            <h4 class="oWeekDayHeader">
                Sunday: Pancakes and Rides
                <span style="float: right">8 AM</span>
            </h4>
            <p class="oWeekDayDescription">
                Swing by the CCH early Sunday to enjoy some pancakes and catch a ride to church. There will be
                students going to various churches in town.
            </p>
            <h4 class="oWeekDayHeader">
                Sunday: Frisbee Golf
                <span style="float: right">9 PM</span>
            </h4>
            <p class="oWeekDayDescription">
                Meet at the CCH for a legendary event combining skill and a little bit of crazy...Frisbee Golf.
            </p>
            <h4 class="oWeekDayHeader">
                Monday: Extreme Rec Night
                <span style="float: right">7 - 9 PM</span>
            </h4>
            <p class="oWeekDayDescription">
                Join us at and around the Multi-Purpose building for sports and games galore!
            </p>
            <h4 class="oWeekDayHeader">
                Tuesday: Photo Scavenger Hunt
                <span style="float: right">7 PM</span>
            </h4>
            <p class="oWeekDayDescription">
                Snap a photo of everything on your list and get back quick! Hang out at the CCH after you finish for Ice Cream!
            </p>
            <h4 class="oWeekDayHeader">
                Wednesday: Coffee House
                <span style="float: right">7 PM</span>
            </h4>
            <p class="oWeekDayDescription">
                Coffee. Cocoa. Coffee. Music. CCH Basement.
            </p>
            <h4 class="oWeekDayHeader">
                Thursday: Catalyst
                <span style="float: right">7 PM</span>
            </h4>
            <p class="oWeekDayDescription">
                Praise, worship, fellowship, and a message at the St Pat's B&amp;C in Havener followed by fried Oreos at
                the CCH!
            </p>
            <h4 class="oWeekDayHeader">
                Friday: Root Beer Kegger
                <span style="float: right">7 PM</span>
            </h4>
            <p class="oWeekDayDescription">
                Bring your favorite mug to the CCH and fill it with Fitz's while you hangout.
            </p>
            <h4 class="oWeekDayHeader">
                Saturday: CCF Luau
                <span style="float: right">5 PM</span>
            </h4>
            <p class="oWeekDayDescription">
                oha! You want to experience this little bit of paradise in Rolla. 5am—torch run. Two pigs roasting all
                day. Then, we feast.
            </p>
        </div>
        <div class="right-side">
            <div class="right-full">
                Welcome! We are excited for this coming fall - it represents not only the start to another school year,
                but also the start to many new and exciting relationships. Here are some of the basics that you as
                incoming students or the parents of incoming students will want.
            </div>
            <div class="right-half" style="background-color:#0492cd; margin-right:5px;">
                <h3>Gel Groups</h3>
                <div style="font-size: 19px">
                    <a href="/catalyst/gel_groups">Gel groups</a> are student led small groups that meet off-campus
                    weekly on Monday, Tuesday, or Wednesday at various times. Since we have multiple studies going on,
                    you are sure to find a study that will be a encouragement to you. Gel groups are a great opportunity
                    to get to know others on a personal level and to dig deeper together into the Scriptures.
                </div>
            </div>
            <div class="right-half" style="background-color:#a93cd4; margin-left:5px;">
                <h3>Housing</h3>
                <div style="font-size: 23px">
                    Christian Campus Fellowship offers campus approved housing at what we refer to as the CCH (Christian
                    Campus House). We have both <a href="/housing/cch">men's</a> and <a href="/housing/wcch">
                    women's</a> housing both conveniently located <a href="/aboutus/location">just off campus</a>.
                </div>
            </div>
            <div class="right-full" style="background-color:white">
                <strong>Christian Campus Fellowship</strong> exists to <strong>reach</strong> non believing students,
                nurture <strong>fellowship</strong> among believers, <strong>deepen knowledge</strong> of and <strong>
                love</strong> for our <strong>Lord and Savior Jesus Christ</strong>, and to <strong>encourage</strong>
                one another to <strong>serve</strong> and <strong>worship</strong> God.
            </div>

        </div>
        <div style="clear:both"></div>

    </div>
{% endblock %}
