html {
  font-family: arial;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 980px;
}

div.background {
  min-height: 100%;
  /* for older browsers */
  background-color: #092D35;
  background-image: url('/images/background.png');
  /* for html5 browsers */
  background-image: url('/images/background.png'),
    -webkit-gradient(
      linear,
      right top,
      left bottom,
      color-stop(0.1, #6B7D85),
      color-stop(0.90, #092D35)
    );
  background-image: url('/images/background.png'),
    -o-linear-gradient(right top, #6B7D85 10%, #092D35 90%);
  background-image: url('/images/background.png'),
    -moz-linear-gradient(right top, #6B7D85 10%, #092D35 90%);
  background-image: url('/images/background.png'),
    -webkit-linear-gradient(right top, #6B7D85 10%, #092D35 90%);
  background-image: url('/images/background.png'),
    -ms-linear-gradient(right top, #6B7D85 10%, #092D35 90%);
  background-image: url('/images/background.png'),
    linear-gradient(right top, #6B7D85 10%, #092D35 90%);
}
body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 980px;
  padding: 0px;
  margin: 0px;
}

img {
  border: none;
}

div.container {
  min-height: 100%;
  width: 980px;
  margin: 0px auto;
}

div.header {
  width: 100%;
  min-width: 980px;
}

table#headerTable {
  width: 980px;
  padding: 0px;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

table#headerTable tr {
  padding: 0px;
  margin: 0px;
}

table#headerTable td {
  padding: 0px;
  margin: 0px;
}

div.logo {
  text-align: center;
  width: 135px;
}

div.headerText {
  text-align: center;
}

div.navigation {

}

div.content {
  width: 960px;
  clear: left;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  padding: 10px 10px 3px 10px;
  margin-top: 15px;
  /* temporary workaround of crbug.com/117102
     Currently it does not seem to adversly affect any pages
     but I might have to make it a per page setting if 117102
     isn't fixed soon
  overflow: auto;
  */
  -webkit-border-radius: 10px 10px 2px 2px;
  -moz-border-radius: 10px 10px 2px 2px;
  -ms-border-radius: 10px 10px 2px 2px;
  -o-border-radius: 10px 10px 2px 2px;
  border-radius: 10px 10px 2px 2px;
  box-shadow: 1px 1px 20px #888 inset;
}

div.left-side {
  width:300px;
  padding: 7px;
  margin-bottom:20px;
  margin-left:15px;
  margin-top:10px;
  background-color:black;
  border-radius:10px;
  float:left;
}

div.right-side {
  margin: 0 10px;
  width: 580px;
  float:right;
  border-radius:10px;
}

div.right-half {
  background-color:green;
  height:400px;
  margin:0px 0px 10px 10px;
  padding: 7px;
  float:left;
  width:265px;
  border-radius:10px;
  font-size:20px;
}
div.right-full {
  background-color:orange;
  margin:10px;
  padding: 30px 7px;
  text-align: center;
  clear:both;
  border-radius:10px;
  font-style: italic;
  font-size:22px;
}

div.footer {
  color: white;
  padding: 0px;
  text-align: center;
  margin: 5px;
}

div.footer  img {
  margin: 5px;
}
