.ccf-info {
  padding: 0px 20px 20px 20px;
}

.homepage-slideshow {
  float: left;
  margin-left: 20px;
}

.agenda {
  width: 300px;
  height: 300px;
  float: right;
  margin-right: 20px;
}

.homepage-shortcuts {
  width: 300px;
  height: 130px;
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  background-color: orange;
}
