/* http://www.htmldog.com/articles/suckerfish/dropdowns/ */
#navigation-dropdown {
  padding: 0;
  margin: 0;
}

#navigation-dropdown a {
  text-decoration: none;
  color: black;
}

.top-level-dropdown {
  display: inline;
  float: left;
  width: 187px;
  height: 19px;
  margin-right: 5px;
  padding: 2px 0px 2px 5px;
  background-color: white;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  /* required for firefox 13 */
  line-height: 19px;
}

.top-level-dropdown:last-of-type {
  margin-right: 0px;
}

.top-level-dropdown:hover {
  /* if the border size increases, the width and height
     need to be decreased by 2*AMOUNT_INCREASED. Same for
     decreasing the border size

    #navigation-dropdown .nav-menu-list also needs to be decreased by AMOUNT_INCREASED.
  */
  border: #EB8F00 2px solid;
  width: 183px;
  height: 15px;
}

.top-level-dropdown-selected {
  background-color: #EB8F00;
}

.nav-menu-list {
  position: absolute;
  width: 185px;
  left: -999em;
  padding: 0px;
  margin: 0px;
  background-color: #EB8F00;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.top-level-dropdown:hover .nav-menu-list  {
  left: auto;
  border: none;
}

.nav-menu-item  {
  display: block;
  width: 179px;
  padding: 3px;
}

.nav-menu-item:hover {
  background-color: #FFBA00;
}
