/* http://www.htmldog.com/articles/suckerfish/dropdowns/ */
#navigation-dropdown, #navigation-dropdown div {
  padding: 0;
  margin: 0;
}

#navigation-dropdown a {
  display: block;
  text-decoration: none;
  color: black;
}

#navigation-dropdown span {
  float: left;
  width: 187px;
  height: 19px;
}

span.top-level-dropdown {
  margin-right: 5px;
  padding: 2px 0px 2px 5px;
  background-color: white;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-top-right-radius: 3px;
  -moz-border-top-left-radius: 3px;
  -ms-border-top-right-radius: 3px;
  -ms-border-top-left-radius: 3px;
  -o-border-top-right-radius: 3px;
  -o-border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

span.top-level-dropdown:last-of-type {
  margin-right: 0px;
}

span.top-level-dropdown-selected {
  background-color: #EB8F00;
}

#navigation-dropdown span div {
  position: absolute;
  width: 185px;
  left: -999em;
  background-color: #EB8F00;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  -ms-border-bottom-right-radius: 3px;
  -ms-border-bottom-left-radius: 3px;
  -o-border-bottom-right-radius: 3px;
  -o-border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

#navigation-dropdown span.top-level-dropdown:hover {
  /* if the border size increases, the width and height
     need to be decreased by 2*AMOUNT_INCREASED. Same for
     decreasing the border size

    #navigation-dropdown span div { width: } also needs to be decreased by AMOUNT_INCREASED.
  */
  border: #EB8F00 2px solid;
  width: 183px;
  height: 15px;
}

#navigation-dropdown span:hover div, #navigation-dropdown span.sfhover div {
  left: auto;
  border: none;
}

#navigation-dropdown span div span {
  padding: 3px;
  width: 179px;
}

#navigation-dropdown span div span:hover {
  background-color: #FFBA00;
}
