{% extends "base.html" %}

{% block content %}
<h1><center>Spring 2012 Gel Groups</center></h1>
<table frame="box" table rules="rows" cellpadding="10" align="center" bgcolor="1d3e46" style="color:white">
  <font color="white">
  <tr>
    <th> Leaders </th>
	<th> Topic </th>
    <th> Day </th>
	<th> Time </th>
  </tr>
  <tr>
    <td>Andy Conklin</td>
    <td><center> Acts</center></td>
    <td>Monday</td>
    <td>7:00PM</td>
  </tr>
  <tr>
    <td>Shandi Harris</td>
    <td><center>The Garden: Godly Womanhood (ladies Only)</center></td>
    <td>Monday</td>
    <td>7:30PM</td>
  </tr>
  <tr>
    <td>James Winn and Andrew Wilson</td>
    <td><center> Does God Exist</center></td>
    <td>Monday</td>
    <td>8:00PM</td>
  </tr>
  <tr>
    <td>Aaron Attebery, Josh Kientzy, and Kevin Clark</td>
    <td><center>Crimson</center></td>
    <td>Monday</td>
    <td>8:00PM</td>
  </tr>
  <tr>
    <td>Bryan Morris</td>
    <td><center>When the Sons Become the Fathers</center></td>
    <td>Monday</td>
    <td>8:00PM</td>
  </tr>
  <tr>
    <td>Mike McConnell and Jon Musick</td>
    <td><center>Heaven</center></td>
    <td>Monday</td>
    <td>7:00PM</td>
  </tr>
  <tr>
    <td>Dan Leafblad and Nathan Hickle</td>
    <td><center>Speaking of Jesus</center></td>
    <td>Monday</td>
    <td>7:00PM</td>
  </tr>
  <tr>
    <td>Tim Arrington and Joslyn Arthur</td>
    <td><center>Mere Christianity</center></td>
    <td>Tuesday</td>
    <td>8:00PM</td>
  </tr>
  <tr>
    <td>London Cline and Lacey Laird</td>
    <td><center>Esther: It's Tough Being a Woman (Ladies Only)</center></td>
    <td>Tuesday</td>
    <td>7:00PM</td>
  </tr>
  <tr>
    <td>Jon Megli and David Hackney</td>
    <td><center>1 and 2 Timothy</center></td>
    <td>Tuesday</td>
    <td>7:00PM</td>
  </tr>
  <tr>
    <td>Kyle Holman and Edward Speckart</td>
    <td><center>The Forge (Guys Only)</center></td>
    <td>Wednesday</td>
    <td>8:00PM</td>
  </tr>
  <tr>
    <td>Colin Pashia</td>
    <td><center>Greek Life</center></td>
    <td>Wednesday</td>
    <td>9:00PM</td>
  </tr>
  <tr>
    <td>Jesse Townsend and Jenna Clack</td>
    <td><center>Promised Redemption</center></td>
    <td>Wednesday</td>
    <td>8:00PM</td>
  </tr>
  </table>
{% endblock %}
