{% extends "base.html" %}

{% block title -%}
  CCF Semester Series
{%- endblock %}

{% block meta -%}
  The Current Christian Campus Fellowship Semester Series
{%- endblock %}

{% block content %}
<h1><center>Fall Catalyst Message Schedule</center></h1>
<center><img src="/images/fallcatalyst.png" alt="Fall 2012 Catalyst"style="float:center;margin:10px 10px 0px 0px; height:200px; width:300px;"/></center>
<div style="text-align:center">
  <h2>
    Kings &amp; Kingdoms:<br/>
    An Overview of Old Testament History
  <h2>
</div>

<p style="padding-left:25px; padding-right:25px;">This fall we are going to journey through the Old Testament together. I want to encourage you to spend some time over the next few months reading through this portion of the Bible. I have a challenge for you - do this in addition to Bible reading you are already doing. If you aren't in a daily habit of spending time with God in the Word, please use this as a time to establish a daily time.</p>

<table frame="box" table rules="rows" cellpadding="10" align="center">
  <tr>
    <th>Date</th>
    <th>Speaker</th>
    <th>Topic</th>
    <th>Location</th>
  </tr>
  <tr>
    <td>August 16th</td>
    <td>&nbsp;</td>
    <td>O-Week Introductions</td>
    <td>Havener Center, St Pats B/C</td>
  </tr>
  <tr>
    <td>August 23th</td>
    <td>Andy Conklin</td>
    <td>Intro into Kings &amp; Kingdoms</td>
    <td>Havener Center, St Pats B/C</td>
  </tr>
  <tr>
    <td>August 30th</td>
    <td>Shandi Harris</td>
    <td>Peoples Choice</td>
    <td>Havener Center, St Pats B/C</td>
  </tr>
  <tr>
    <td>September 6th</td>
    <td>Allen Schofield</td>
    <td>David the Child</td>
    <td>Havener Center, St Pats C</td>
  </tr>
  <tr>
    <td>September 13th</td>
    <td>Andy Conklin</td>
    <td>David the Warrior</td>
    <td>Havener Center, St Pats C</td>
  </tr>
  <tr>
    <td>September 20th</td>
    <td>Shandi Harris</td>
    <td>David the King</td>
    <td>Havener Center, St Pats B/C</td>
  </tr>
  <tr>
    <td>September 27th</td>
    <td>Andy Conklin</td>
    <td>Solomon the Obedient</td>
    <td>Havener Center, St Pats B/C</td>
  </tr>
  <tr>
    <td>October 4th</td>
    <td>Allen Schofield</td>
    <td>Solomon the Disobedient</td>
    <td>Havener Center, St Pats B/C</td>
  </tr>
  <tr>
    <td>October 11th</td>
    <td>Scott Robinson</td>
    <td>Kingdom Divided</td>
    <td>Havener Center, Carver/Turner</td>
  </tr>
  <tr>
    <td>October 18th</td>
    <td>Shandi Harris</td>
    <td>Jereboam</td>
    <td>Havener Center, St Pats B/C</td>
  </tr>
  <tr>
    <td>October 25th</td>
    <td>Allen Schofield</td>
    <td>Elijah</td>
    <td>Havener Center, St Pats B/C</td>
  </tr>
  <tr>
    <td>November 1st</td>
    <td>Andy Conklin</td>
    <td>Jehu</td>
    <td>Havener Center, St Pats B/C</td>
  </tr>
  <tr>
    <td>November 8th</td>
    <td>Shandi Harris</td>
    <td>Hezekiah</td>
    <td>Havener Center, St Pats B/C</td>
  </tr>
  <tr>
    <td>November 15th</td>
    <td>Chris Foster</td>
    <td>Thanksgiving Banquet</td>
    <td>Greentree Christian Church</td>
  </tr>
    <tr>
    <td>November 22nd</td>
    <td>&nbsp;</td>
    <td>Thanksgiving Break</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>November 29th</td>
    <td>Andy Conklin</td>
    <td>Sum It Up</td>
    <td>Havener Center, St Pats B/C</td>
  </tr>
  <tr>
    <td>December 6th</td>
    <td>Allen Schofield</td>
    <td>Grad Banquet</td>
    <td>Ridgeview Christian Church</td>
  </tr>
</table>
{% endblock %}
