{% extends "base.html" %}

{% block title -%}
  CCF Semester Series
{%- endblock %}

{% block meta -%}
  The Current Christian Campus Fellowship Semester Series
{%- endblock %}

{% block content %}
  <h1><center>Catalyst Message Schedule</center></h1>

  {% if semester_series %}
    <center>
      <img src="/image/{{ semester_series.key.urlsafe() }}" alt="{{ semester_series.Title }}" style="float:center;margin:10px 10px 0px 0px; height:200px; width:300px;"/>
    </center>

    <div style="text-align:center">
      <h2>{{ semester_series.Title }}<h2>
    </div>

    <p style="padding-left:25px; padding-right:25px; text-align:center">{{ semester_series.Description }}</p>

    <table frame="box" table rules="rows" cellpadding="10" align="center">
      <tr>
        <th>Date</th>
        <th>Speaker</th>
        <th>Topic</th>
        <th>Location</th>
      </tr>
      {% for week in semester_series.Weeks %}
      <tr>
        <td>{{ week.Date|default("&nbsp;") }}</td>
        <td>{{ week.Speaker|default("&nbsp;") }}</td>
        <td>{{ week.Topic|default("&nbsp;") }}</td>
        <td>{{ week.Location|default("&nbsp;") }}</td>
      </tr>
      {% endfor %}
    </table>
    <div style="height:20px">&nbsp;</div>
  {% else %}
    <div style="text-align:center">There is no Semester Series scheduled at this time.</div>
  {% endif %}
{% endblock %}
