{% extends "base.html" %}

{% block content %}
<h1><center>Summer Catalyst message schedule</center></h1>
<center>This summer we are exploring a handful of Spiritual Disciplines together. <br>Join us each Thursday in Havener at 7pm for a time of worship through song <br>and a message about discipline - spiritual discipline. <br><br><i>"For this reason I remind you to fan into flame the gift of God,<br> which is in you through the laying on of my hands. <br>For God did not give you a spirit of timidity,<br>but a spirit of power, of love and of self-discipline"<br>- 2 Timothy 1:6-7</center></i><br>
<center><img src="/images/summercatalyst.png" alt="Summer Catalyst"style="float:center;margin:10px 10px 0px 0px; height:200px; width:300px;"/></center>
<br/>
<table frame="box" table rules="rows" cellpadding="10" align="center">
  <tr>
    <th> Date </th>
	<th> Speaker </th>
    <th> Topic </th>
	<th> Location </th>
  </tr>
  <tr>
    <td> June 7th</td>
	<td> Allen Schofield</td>
    <td> The Discipline of Prayer </td>
	<td>Carver/Turner</td>
  </tr>
  <tr>
    <td> June 14th </td>
	<td> Shandi Harris</td>
    <td> The Discipline of Confession</td>
	<td> Carver/Turner</td>
  </tr>
  <tr>
    <td> June 21st </td>
	<td> Andy Conklin </td>
    <td> The Discipline of Fasting </td>
	<td> Carver/Turner </td>
  </tr>
  <tr>
    <td> June 28th </td>
	<td></td>
	<td> Pool Party </td>
	<td> Carver/Turner </td>

  </tr>
  <tr>
    <td> July 5th </td>
	<td>Andy Conklin</td>
	<td>The Discipline of Solitude </td>
	<td>Carver/Turner </td>
  </tr>
  <tr>
    <td> July 12th </td>
	<td>Allen Schofield</td>
	<td>The Discipline of Service</td>
	<td>Carver/Turner</td>
    </tr>
  <tr>
    <td>July 19th</td>
	<td>Shandi Harris</td>
    <td>The Discipline of Worship</td>
	<td>Carver/Turner</td>
  </tr>
  <tr>
    <td> July 26th</td>
	<td> Allen Schofield </td>
    <td> The Discipline of Study/Meditation</td>
	<td> Carver/Turner</td>
  </tr> </center>
</table>
{% endblock %}
