{% extends "base.html" %}

{% block content %}
<h1><center>Summer Catalyst message schedule</center></h1>
<br /><h3><center>This summer we will be exploring some Spiritual Disciplines together.</center></h3>
<table frame="box" table rules="rows" cellpadding="10" align="center">
  <tr>
    <th> Date </th>
	<th> Speaker </th>
    <th> Topic </th>
	<th> Passage </th>
	<th> Location </th>
  </tr>
  <tr>
    <td> June 7th</td>
	<td> Allen Schofield</td>
    <td> The Discipline of Prayer </td>
	<td>  </td>
	<td> TBD </td>
  </tr>
  <tr>
    <td> June 14th </td>
	<td> Shandi Harris</td>
    <td> The Discipline of Confession</td>
	<td> </td>
	<td> TBD</td>
  </tr>
  <tr>
    <td> June 21st </td>
	<td> Andy Conklin </td>
    <td> The Discipline of Fasting </td>
	<td> </td>
	<td> TBD </td>
  </tr>
  <tr>
    <td> June 28th </td>
	<td></td>
	<td> Pool Party </td>
	<td>  </td>
	<td> TBD </td>

  </tr>
  <tr>
    <td> July 5th </td>
	<td>Andy Conklin</td>
	<td>The Discipline of Solitude </td>
	<td></td>
	<td>TBD </td>
  </tr>
  <tr>
    <td> July 12th </td>
	<td>Allen Schofield</td>
	<td>The Discipline of Service</td>
	<td></td>
	<td>TBD</td>
    </tr>
  <tr>
    <td>July 19th</td>
	<td>Shandi Harris</td>
    <td>The Discipline of Worship</td>
	<td></td>
	<td>TBD</td>
  </tr>
  <tr>
    <td> July 26th</td>
	<td> Allen Schofield </td>
    <td> The Discipline of Study/Meditation</td>
	<td> </td>
	<td> TBD</td>
  </tr> </center>
</table>
{% endblock %}
