{% extends "base.html" %}

{% block content %}
<h1><center>Catalyst message schedule</center></h1>
<table frame="box" table rules="rows" cellpadding="25" align="center">
  <tr>
    <th> Date </th>
	<th> Speaker </th>
    <th> Topic </th>
	<th> Passage </th>
	<th> Location </th>
  </tr>
  <tr>
    <td> February 23rd      </td>
	<td> Shandi Harris </td>
    <td> Lean on Christ </td>
	<td> Matthew 11:28-30 </td>
	<td> Carver and Turner Ballroom </td>
  </tr>
  <tr>
    <td> March 1st </td>
	<td> Chris Foster </td>
    <td> Clean & Unclean </td>
	<td> Matthew 15 </td>
	<td> St. Pat's Ballroom B and C </td>
  </tr>
  <tr>
    <td> March 8th </td>
	<td> Allen Schofield </td>
    <td> Deny Yourself </td>
	<td> Matthew 16:24-28 </td>
	<td> St. Pat's Ballroom B and C </td>
  </tr>
  <tr>
    <td> March 15th </td>
	<td></td>
	<td> Coffee House Devo </td>
	<td>  </td>
	<td> CCH </td>

  </tr>
  <tr>
    <td> March 22nd </td>
	<td></td>
	<td> Night of Worship </td>
	<td></td>
	<td>St. Pat's Ballroom B and C </td>
  </tr>
  <tr>
    <td> March 29th </td>
	<td></td>
	<td> Spring Break </td>
	<td></td>
	<td></td>
    </tr>
  <tr>
    <td> April 5th </td>
	<td>  </td>
    <td> Seder</td>
	<td></td>
	<td>Ridgeview</td>
  </tr>
  <tr>
    <td> April 12th </td>
	<td> Allen Schofield </td>
    <td> That <i>is</i> who I am </td>
	<td> Matthew 126:62-68 </td>
	<td> St. Pat's Ballroom B and C </td>
  </tr>
  <tr>
    <td> April 19th </td>
	<td> Andy Conklin </td>
    <td> Forgiven </td>
	<td> Luke 23:34 </td>
	<td> St. Pat's Ballroom C </td>
  </tr>
  <tr>
    <td> April 26th </td>
	<td> Shandi Harris </td>
    <td> Alive </td>
	<td> John 20:19-31 </td>
	<td> TBD </td>
  </tr>
  <tr>
    <td> May 3rd </td>
	<td> Allen Schofield </td>
    <td> Comissioned </td>
	<td> Matthew 28:16-20;Acts 1:7-11 </td>
	<td> Grad Banquet at Greentree </td>
  </tr> </center>
</table>
{% endblock %}
