{% extends "base.html" %}

{% block title -%}
    CCF Housing Application
{%- endblock %}

{% block meta -%}
    Christian Campus Fellowship Housing Application
{%- endblock %}

{% block css %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" href="/stylesheets/housing_application.css"/>
{% endblock %}

{% macro Full_Length_Input(field) %}
    <div>
        <span {% if field.errors %}class="error"{% endif %}>{{ field.label }}</span><br/>
        {{ field(**kwargs) }}
    </div>
{% endmacro %}

{% block content %}

    {% if form.errors %}
        <ul class="errors">
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                    <li>{{ form[field_name].label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post" action="#">
        <div style="overflow:auto">
            <table class="housing-sidebyside">
                <tr>
                    <td class="housing-sidebyside" style="padding-right: 16px; border-right: #000000 solid 1px;">
                        <div class="housing-box-outer">
                            <div class="housing-box-inner">
                                Select Men's or Women's House
                                {{ form.House(class="housing-application-radio") }}
                                {% for error in form.House.errors %}<span class="errors">{{ error|e }}</span>{% endfor %}
                            </div>
                        </div>
                        <div class="housing-box-outer">
                            <div class="housing-box-inner">
                                {{ Full_Length_Input(form.FullName, class="housing-application-input") }}
                                {{ Full_Length_Input(form.EmailAddress, class="housing-application-input") }}
                                {{ Full_Length_Input(form.PhoneNumber, class="housing-application-input") }}
                                {{ Full_Length_Input(form.DateOfBirth, class="housing-application-input") }}
                                {{ Full_Length_Input(form.SplitHomeAddress, class="housing-application-input") }}
                                <div style="width: 100%; height:48px; margin-bottom: 6px">
                                    <table style="width:100%; border-spacing: 0px">
                                        <tr>
                                            <td style="width:47%">
                                                <span {% if form.SplitHomeCity.errors %}class="error"{% endif %}>{{ form.SplitHomeCity.label }}</span><br/>
                                                {{ form.SplitHomeCity(style="width:95%") }}
                                            </td>
                                            <td style="width:33%">
                                                <span {% if form.SplitHomeState.errors %}class="error"{% endif %}>{{ form.SplitHomeState.label }}</span><br/>
                                                {{ form.SplitHomeState }}
                                            </td>
                                            <td style="width:20%">
                                                <span {% if form.SplitHomeZip.errors %}class="error"{% endif %}>{{ form.SplitHomeZip.label }}</span><br/>
                                                {{ form.SplitHomeZip(style="width:98%") }}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="housing-box-outer">
                            <div class="housing-box-inner">
                                {{ Full_Length_Input(form.CurrentGradeLevel, class="housing-application-input") }}
                                {{ Full_Length_Input(form.ProposedDegree, class="housing-application-input") }}
                                {{ Full_Length_Input(form.SemesterToBegin, class="housing-application-input") }}
                            </div>
                        </div>
                    </td>
                    <td class="housing-sidebyside" style="padding-left: 16px; border-left: #000000 solid 1px;">
                        <div class="housing-box-outer">
                            <div class="housing-box-inner">
                                <div style="border-bottom: 1px black solid">Your Parents</div>
                                <div style="margin-left: 10px;">
                                    <table class="references">
                                        <tr>
                                            <td colspan="2" {% if form.ParentNames.errors %}class="error"{% endif %}>
                                                {{ form.ParentNames.label }}<br/>
                                                {{ form.ParentNames(class="housing-application-input") }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td{% if form.ParentPhoneNumber.errors %} class="error"{% endif %}>
                                                {{ form.ParentPhoneNumber.label }}<br/>
                                                {{ form.ParentPhoneNumber(class="housing-application-input", style="width: 95%;") }}
                                            </td>
                                            <td{% if form.ParentEmail.errors %} class="error"{% endif %}>
                                                {{ form.ParentEmail.label }}<br/>
                                                {{ form.ParentEmail(class="housing-application-input") }}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="housing-box-outer">
                            <div class="housing-box-inner">
                                <div style="border-bottom: 1px black solid">Home Church</div>
                                <div style="margin-left: 10px;">
                                    <table class="references">
                                        <tr>
                                            <td colspan="2" {% if form.HomeChurchName.errors %}class="error"{% endif %}>
                                                {{ form.HomeChurchName.label }}<br/>
                                                {{ form.HomeChurchName(class="housing-application-input") }}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="2" {% if form.HomeChurchMinisterName.errors %}class="error"{% endif %}>
                                                {{ form.HomeChurchMinisterName.label }}<br/>
                                                {{ form.HomeChurchMinisterName(class="housing-application-input") }}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td{% if form.HomeChurchPhoneNumber.errors %} class="error"{% endif %}>
                                                {{ form.HomeChurchPhoneNumber.label }}<br/>
                                                {{ form.HomeChurchPhoneNumber(class="housing-application-input", style="width: 95%;") }}
                                            </td>
                                            <td{% if form.HomeChurchEmail.errors %} class="error"{% endif %}>
                                                {{ form.HomeChurchEmail.label }}<br/>
                                                {{ form.HomeChurchEmail(class="housing-application-input") }}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="housing-box-outer">
                            <div class="housing-box-inner">
                                <div style="border-bottom: 1px black solid">Additional Reference</div>
                                <div style="margin-left: 10px;">
                                    <table class="references">
                                        <tr>
                                            <td colspan="2" {% if form.OtherReferenceRelation.errors %}class="error"{% endif %}>
                                                {{ form.OtherReferenceRelation.label }}<br/>
                                                {{ form.OtherReferenceRelation(class="housing-application-input") }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" {% if form.OtherReferenceName.errors %}class="error"{% endif %}>
                                                {{ form.OtherReferenceName.label }}<br/>
                                                {{ form.OtherReferenceName(class="housing-application-input") }}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td{% if form.OtherReferencePhoneNumber.errors %} class="error"{% endif %}>
                                                {{ form.OtherReferencePhoneNumber.label }}<br/>
                                                {{ form.OtherReferencePhoneNumber(class="housing-application-input", style="width: 95%;") }}
                                            </td>
                                            <td{% if form.OtherReferenceEmail.errors %} class="error"{% endif %}>
                                                {{ form.OtherReferenceEmail.label }}<br/>
                                                {{ form.OtherReferenceEmail(class="housing-application-input") }}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="housing-box-textarea">
            {{ Full_Length_Input(form.HowAndWhy, class="housing-application-textarea") }}
            {{ Full_Length_Input(form.LeadershipRoles, class="housing-application-textarea") }}
            {{ Full_Length_Input(form.TalentsAndInterests, class="housing-application-textarea") }}
        </div>
        <div class="housing-box-textarea">
            {{ Full_Length_Input(form.CriminalActivity, class="housing-application-textarea") }}
        </div>
        <div class="housing-box-textarea">
            {{ Full_Length_Input(form.MedicalAllergies, class="housing-application-textarea") }}
            {{ Full_Length_Input(form.Medications, class="housing-application-textarea") }}
        </div>
        <div style="text-align:center; margin:15px 0 10px 0">
            <input style="width:256px; height:40px;" type="submit" value="Submit Application"/>
        </div>
    </form>
{% endblock %}
