{% extends "base.html" %}

{% block title -%}
    CCF Housing Application
{%- endblock %}

{% block meta -%}
    Christian Campus Fellowship Housing Application
{%- endblock %}

{% block css %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" href="/stylesheets/housing_application.css"/>
    <style>
        fieldset {
            border-radius: 2px;
            margin-bottom: 5px;
        }
    </style>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        {# Make the two floating boxes the same height #}
        $(function () {
            var box1Height = $("#box1").height();
            var box2Height = $("#box2").height();

            if (box1Height > box2Height) {
                $("#box2").height(box1Height - ($("#box2").outerHeight(true) - box2Height));
            } else {
                $("#box1").height(box2Height);
            }
        });
    </script>
{% endblock %}

{% macro Full_Length_Input(field) %}
    <div>
        <span {% if field.errors %}class="error"{% endif %}>{{ field.label }}</span><br/>
        {{ field(**kwargs) }}
    </div>
{% endmacro %}

{% block content %}

    {% if form.errors %}
        <ul class="errors">
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                    <li>{{ form[field_name].label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post" action="#">
        <div style="overflow:auto">
            <div id="box1" class="housing-application-sidebyside" style="float: left; width:477px;">
                <fieldset class="housing-application-sidebyside" style="float: left;">
                    <legend>Which house are you applying to?</legend>
                    {{ form.House(class="housing-application-radio") }}
                    {% for error in form.House.errors %}<span class="errors">{{ error|e }}</span>{% endfor %}
                </fieldset>


                <fieldset class="housing-application-sidebyside" style="float: left;">
                    <legend>Your Info</legend>
                    {{ Full_Length_Input(form.FullName, class="housing-application-input") }}
                    {{ Full_Length_Input(form.EmailAddress, class="housing-application-input") }}
                    {{ Full_Length_Input(form.PhoneNumber, class="housing-application-input") }}
                    {{ Full_Length_Input(form.DateOfBirth, class="housing-application-input") }}
                    {{ Full_Length_Input(form.SplitHomeAddress, class="housing-application-input") }}
                    <div style="height:48px">
                        <table style="width:400px">
                            <tr>
                                <td>
                                    <span {% if form.SplitHomeCity.errors %}class="error"{% endif %}>{{ form.SplitHomeCity.label }}</span><br/>
                                    {{ form.SplitHomeCity(style="width:155px") }}
                                </td>
                                <td>
                                    <span {% if form.SplitHomeState.errors %}class="error"{% endif %}>{{ form.SplitHomeState.label }}</span><br/>
                                    {{ form.SplitHomeState }}
                                </td>
                                <td>
                                    <span {% if form.SplitHomeZip.errors %}class="error"{% endif %}>{{ form.SplitHomeZip.label }}</span><br/>
                                    {{ form.SplitHomeZip(style="width:70px") }}
                                </td>
                            </tr>
                        </table>
                    </div>
                    {{ Full_Length_Input(form.CurrentGradeLevel, class="housing-application-input") }}
                    {{ Full_Length_Input(form.ProposedDegree, class="housing-application-input") }}
                    {{ Full_Length_Input(form.SemesterToBegin, class="housing-application-input") }}
                </fieldset>
            </div>

            <fieldset id="box2" class="housing-application-sidebyside" style="float: right;">
                <legend>References</legend>
                <div style="margin-bottom: 5px;">
                    <span style="font-weight:bold;">Your Parents</span>

                    <div style="margin-left: 10px;">
                        <table>
                            <tr>
                                <td colspan="2" {% if form.ParentNames.errors %}class="error"{% endif %}>
                                    {{ form.ParentNames.label }}<br/>
                                    {{ form.ParentNames(class="housing-application-input") }}
                                </td>
                            </tr>

                            <tr>
                                <td{% if form.ParentPhoneNumber.errors %} class="error"{% endif %}>
                                    {{ form.ParentPhoneNumber.label }}<br/>
                                    {{ form.ParentPhoneNumber(class="housing-application-input", style="width: 195px;") }}
                                </td>
                                <td{% if form.ParentEmail.errors %} class="error"{% endif %}>
                                    {{ form.ParentEmail.label }}<br/>
                                    {{ form.ParentEmail(class="housing-application-input", style="width: 195px;") }}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div style="margin-bottom: 5px;">
                    <span style="font-weight:bold;">The staff member at your home church that knows you best</span>

                    <div style="margin-left: 10px;">
                        <table>
                            <tr>
                                <td colspan="2" {% if form.HomeChurchName.errors %}class="error"{% endif %}>
                                    {{ form.HomeChurchName.label }}<br/>
                                    {{ form.HomeChurchName(class="housing-application-input") }}
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2" {% if form.HomeChurchMinisterName.errors %}class="error"{% endif %}>
                                    {{ form.HomeChurchMinisterName.label }}<br/>
                                    {{ form.HomeChurchMinisterName(class="housing-application-input") }}
                                </td>
                            </tr>

                            <tr>
                                <td{% if form.HomeChurchPhoneNumber.errors %} class="error"{% endif %}>
                                    {{ form.HomeChurchPhoneNumber.label }}<br/>
                                    {{ form.HomeChurchPhoneNumber(class="housing-application-input", style="width: 195px;") }}
                                </td>
                                <td{% if form.HomeChurchEmail.errors %} class="error"{% endif %}>
                                    {{ form.HomeChurchEmail.label }}<br/>
                                    {{ form.HomeChurchEmail(class="housing-application-input", style="width: 195px;") }}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div>
                    <span style="font-weight:bold;">Additional reference</span>

                    <div style="margin-left: 10px;">
                        <table>
                            <tr>
                                <td colspan="2" {% if form.OtherReferenceRelation.errors %}class="error"{% endif %}>
                                    {{ form.OtherReferenceRelation.label }}<br/>
                                    {{ form.OtherReferenceRelation(class="housing-application-input") }}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" {% if form.OtherReferenceName.errors %}class="error"{% endif %}>
                                    {{ form.OtherReferenceName.label }}<br/>
                                    {{ form.OtherReferenceName(class="housing-application-input") }}
                                </td>
                            </tr>

                            <tr>
                                <td{% if form.OtherReferencePhoneNumber.errors %} class="error"{% endif %}>
                                    {{ form.OtherReferencePhoneNumber.label }}<br/>
                                    {{ form.OtherReferencePhoneNumber(class="housing-application-input", style="width: 195px;") }}
                                </td>
                                <td{% if form.OtherReferenceEmail.errors %} class="error"{% endif %}>
                                    {{ form.OtherReferenceEmail.label }}<br/>
                                    {{ form.OtherReferenceEmail(class="housing-application-input", style="width: 195px;") }}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </fieldset>
        </div>

        <fieldset>
            <legend>Why do you want to live in the CCH/WCCH?</legend>
            {{ Full_Length_Input(form.HowAndWhy, class="housing-application-textarea") }}
            {{ Full_Length_Input(form.LeadershipRoles, class="housing-application-textarea") }}
            {{ Full_Length_Input(form.TalentsAndInterests, class="housing-application-textarea") }}
        </fieldset>

        <fieldset>
            <legend>Criminal Activity</legend>
            {{ Full_Length_Input(form.CriminalActivity, class="housing-application-textarea") }}
        </fieldset>

        <fieldset>
            <legend>Medical Info</legend>
            {{ Full_Length_Input(form.MedicalAllergies, class="housing-application-textarea") }}
            {{ Full_Length_Input(form.Medications, class="housing-application-textarea") }}
        </fieldset>

        <div style="text-align:center; margin:15px 0 10px 0">
            <input style="width:256px; height:40px;" type="submit" value="Submit Application"/>
        </div>
    </form>
{% endblock %}
