{% extends "base.html" %}

{% block title -%}
    CCF Women's Housing Information
{%- endblock %}

{% block meta -%}
    Christian Campus Fellowship Women's Housing Information
{%- endblock %}

{% block css %}
    {{ super() }}
    <style>
        div.content {
            /* temporary workaround of crbug.com/117102 */
            overflow: auto;
        }

        .flat_button {
            text-align: center;
            margin: 10px;
            border-radius: 8px;
            color: white;
            font-weight: bold;
            font-size: 17px;
            padding-top: 13px;
            padding-bottom: 13px;
            box-shadow: 0 0 20px #888;
        }
    </style>
{% endblock %}

{% macro verseLink(UrlPiece, VerseName) -%}
    <a href="http://biblia.com/bible/esv/{{ UrlPiece }}" class="maskedLink" target="_blank">{{ VerseName }}</a>
{%- endmacro %}

{% block content %}
    <h1 class="pageTitle">Women's Christian Campus House</h1>

    <div style="float:right; width:300px; border-left:black 1px solid; padding-left:8px;">
        <div class="sidebarPicture">
            <img src="/images/wcch.jpg" alt="Front of the Women's Christian Campus House" width="300" height="207"/>

            <div class="caption">The Women's Christian Campus House</div>
            <div class="subcaption">There are plants there now</div>
        </div>

        <div class="sidebarPicture">
            <img src="/images/wcchtree.jpg" alt="WCCH Family Tree" width="300" height="207"/>

            <div class="caption">WCCH Family Tree</div>
            <div class="subcaption">In the stairwell</div>
        </div>

        <div class="sidebarPicture">
            <img src="/images/wcch_lobby.jpg" alt="WCCH Lobby" width="300" height="207"/>

            <div class="caption">WCCH Lobby</div>
            <div class="subcaption">Two apartments on the main floor, two on the second. The basement is a common
                area.
            </div>
        </div>

        <div class="sidebarPicture">
            <img src="/images/wcch_common.jpg" alt="WCCH Common Area" width="300" height="207"/>

            <div class="caption">WCCH Common Area</div>
            <div class="subcaption">Common area in the basement</div>
        </div>

        <div class="sidebarPicture">
            <img src="/images/wcch_kitchen.jpg" alt="WCCH Apartment Kitchen" width="300" height="207"/>

            <div class="caption">WCCH Apartment Kitchen</div>
            <div class="subcaption">Each Apartment has a full kitchen</div>
        </div>
    </div>
    <div style="width:640px">
        <div style="float:right; margin:10px; width:170px">
            <a href="/housing/application?house=wcch" style="text-decoration:none">
                <div class="flat_button" style="background-color: #00667d;">
                    Apply Now
                </div>
            </a>
            <a href="/housing/details" style="text-decoration:none;">
                <div class="flat_button" style="background-color: darkred; margin-top:20px">
                    Housing Details
                </div>
            </a>
        </div>
        <h3>Campus Approved Housing</h3>

        <p>Fall 2011 was our first semester to have a women's residential facility! The WCCH is approved by Missouri S&amp;T
            as student housing and can hold 16 girls in the main building and 4 in the two apartments behind the
            house.</p>

        <h3>Affordable, Beautiful, and Comfortable</h3>

        <p>The WCCH has 4 adorable, 2-bedroom apartments holding 4 residents each. Each apartment has its own full
            bathroom, living room and full kitchen with access to a back patio. The back two apartments are slightly
            smaller and house only 2 students each. In addition, the WCCH has a common kitchen, study, lounge, prayer
            room, laundry facility and three dining spaces to entertain guests. All this is available to these women at
            a fraction of the cost of living in the residential halls on campus.</p>

        <h3>Convenient Location</h3>

        <p>The WCCH is located across the street from the Civil Engineering and Physics Buildings. The only way you
            could be closer to these classes or campus is to live in the classrooms! The house is also within walking
            distance to several area churches, downtown Rolla, a couple of city parks and several local restaurants.</p>

        <h3>Automobiles</h3>

        <p>The WCCH allows all residents to bring a car. There is some parking around the house and parking is available
            on the streets surrounding the house. All parking is on a first come-first served basis. There are enough
            spots that you will find a place, it just depends how far you have to walk to get to the house.</p>

        <p>If you don't have a car, don't worry. There are plenty of girls that do and are quite willing to carpool to
            Walmart or to church.</p>

        <h3>Student Meal Plans</h3>

        <p>Meal plans are required for freshmen and sophomores, even if they are living in off-campus housing, such as
            the WCCH. Once a student reaches 60 credit hours, they are no longer required to have a meal plan.</p>

        <p>Each individual apartment contains a full kitchen. Students often use their meal blocks during the week, and
            will eat in the house on weekends.</p>

        <h3>Resident Responsibilities</h3>

        <p style="margin-bottom:0;">There are only a few things that are considered required or mandatory as a WCCH
            resident. Residents are expected to be 'above reproach' ({{ verseLink('1Ti3.2', '1st Timothy 3:2') }}). As a
            resident of the WCCH, you are a representative of this ministry and of Jesus Christ to others within the
            campus community. You are to live a life of integrity and have the highest of moral standards. All residents
            are expected to:</p>
        <ul style="margin-top:0;">
            <li>Attend weekly church services at the local church of their choice</li>
            <li>Participate in a weekly CCF <a href="/catalyst/small_groups">Small Group</a> Bible study</li>
            <li>Attend and participate in the weekly CCF meeting - <a href="/catalyst/semester_series">Catalyst</a></li>
            <li>Complete weekly house and room chores in a timely and thorough manner</li>
            <li>Participate in areas of service which are in keeping with those taught in the New Testament, i.e.
                ministering to the sick, elderly, and those in need, campus outreach, and evangelism
            </li>
            <li>Attendance at one house retreat each semester and house meetings at beginning and ending of each
                semester, and periodically as needed
            </li>
        </ul>

        <h3>Nerf Gun Policy</h3>

        <p>Though not mandatory, for your own personal protection and self defense this is strongly encouraged. We have
            a small arsenal of Nerf guns that have been supplied by previous house residents and should be able to well
            defend ourselves if you desire to participate in Humans v Zombies, dominate the Men's CCH during an open
            house, or start a war with another apartment within the WCCH.</p>
    </div>
{% endblock %}
