{% extends "base.html" %}

{% block title -%}
    CCF Location
{%- endblock %}

{% block meta -%}
    Where Christian Campus Fellowship is located
{%- endblock %}

{% block css %}
    {{ super() }}
    <style>
        .label {
            font-weight: bold;
        }

        .shadowbox {
            background-image: linear-gradient(to bottom, #EB8F00 0%, #FFFFFF 5%);
            border-radius: 2px;
            overflow:auto;
            margin:15px 5px;
            padding-left: 5px;
        }
    </style>
{% endblock %}

{% block content %}
    <h1 class="pageTitle">Christian Campus House Locations</h1>
    <div class="shadowbox">
        <iframe style="float:right; padding:5px 5px 0 5px;" width="640" height="480" frameborder="0" scrolling="no"
                marginheight="0" marginwidth="0"
                src="https://www.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Christian+Campus+House,+East+12th+Street,+Rolla,+MO&amp;aq=0&amp;oq=christian+campus&amp;sll=37.0625,-95.677068&amp;sspn=59.119059,79.013672&amp;t=m&amp;ie=UTF8&amp;hq=Christian+Campus+House,&amp;hnear=E+12th+St,+Rolla,+Phelps,+Missouri+65401&amp;ll=37.952962,-91.769829&amp;spn=0.008121,0.013733&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe>

        <p style="font-weight:bold; text-align:center;">Men's Christian Campus House</p>

        <p>
            <span class="label">Address:</span><br/>
            112 E 12th St<br/>
            Rolla, MO 65401
        </p>

        <p>
            <span class="label">Phone Number:</span><br/>
            (573) 341-3567
        </p>

        <p>
            <span class="label">Visiting Details:</span><br/>
            The common areas of the house are open to the public from 10 am until 12 am. <br/>
            <br/>
            If you would like a tour stop by or call and someone will be glad to show you around.
        </p>
        {# office hours #}

        <small>
            <a target="_blank"
               href="https://www.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Christian+Campus+House,+East+12th+Street,+Rolla,+MO&amp;aq=0&amp;oq=christian+campus&amp;sll=37.0625,-95.677068&amp;sspn=59.119059,79.013672&amp;t=m&amp;ie=UTF8&amp;hq=Christian+Campus+House,&amp;hnear=E+12th+St,+Rolla,+Phelps,+Missouri+65401&amp;ll=37.952962,-91.769829&amp;spn=0.008121,0.013733&amp;z=16&amp;iwloc=A"
               style="color:#0000FF;text-align:left">
                View Larger Map
            </a>
        </small>
    </div>
    <div class="shadowbox">
        <iframe style="float:right; padding:5px 5px 0px 5px;" width="640" height="480" frameborder="0" scrolling="no"
                marginheight="0" marginwidth="0"
                src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=1400+North+Pine+Street,+Rolla,+MO&amp;aq=0&amp;oq=1400+n+pine+s&amp;sll=37.953106,-91.771578&amp;sspn=0.005558,0.008272&amp;ie=UTF8&amp;hq=&amp;hnear=1400+N+Pine+St,+Rolla,+Missouri+65401&amp;t=m&amp;ll=37.955196,-91.771073&amp;spn=0.010152,0.012875&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>

        <p style="font-weight:bold; text-align:center;">Women's Christian Campus House</p>

        <p>
            <span class="label">Address:</span><br/>
            1400 North Pine Street<br/>
            Rolla, MO 65401
        </p>

        <p>
            <span class="label">Phone Number:</span><br/>
            (573) 341-3567
        </p>

        <p>
            <span class="label">Visiting Details:</span><br/>
            The common areas of the house are open to the public from 10 am until 12 am. <br/>
            <br/>
            If you would like a tour stop by or call and someone will be glad to show you around.
        </p>
        {# office hours #}

        <small>
            <a target="_blank"
               href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=1400+North+Pine+Street,+Rolla,+MO&amp;aq=0&amp;oq=1400+n+pine+s&amp;sll=37.953106,-91.771578&amp;sspn=0.005558,0.008272&amp;ie=UTF8&amp;hq=&amp;hnear=1400+N+Pine+St,+Rolla,+Missouri+65401&amp;t=m&amp;ll=37.955196,-91.771073&amp;spn=0.010152,0.012875&amp;z=15&amp;iwloc=A"
               style="color:#0000FF;text-align:left">
                View Larger Map
            </a>
        </small>
    </div>
{% endblock %}
