{% extends "base.html" %}

{% block title -%}
    CCF Staff
{%- endblock %}

{% block meta -%}
    Who works at the Christian Campus Fellowship
{%- endblock %}

{% block css %}
    {{ super() }}
    <style>
        #studentOfficers table {
            font-size: 14px;
            text-align: center;
        }

        #studentOfficers td {
            width: 12.5%;
        }
    </style>
{% endblock %}

{% block content %}
    <h1 class="pageTitle">Staff</h1>
    <hr/>

    {% for StaffPosition in StaffPositions %}
        <div style="overflow:auto">
            <img src="/image/{{ StaffPosition.key.urlsafe() }}" alt="{{ StaffPosition.Name }}" style="float:left; margin:10px 0 10px 10px" height="123" width="147"/>

            <div style="margin-left:170px">
                <p><span style="font-weight:bold; font-size:22px">{{ StaffPosition.Name }}</span></p>

                <p>{{ StaffPosition.Description }}.</p>

                <p>Email {{ StaffPosition.Name }} at <a href="mailto:{{ StaffPosition.Email }}">{{ StaffPosition.Email }}</a></p>
            </div>
        </div>
        <hr/>
    {%  endfor %}

    <div id="boardOfDirectors">
        <h1 style="text-align:center">Board of Directors</h1>
        <hr/>
        <div style="text-align:center">
            <p style="padding-left: 100px; padding-right: 100px">
            Dan Oerther, Kenny Salts, Jeremy Jamison, Myrlen Troutt, Sherry Duley, Becky Rich, Mike Kleeschulte,
            Scott Robinson, Lon/Janet West, Lowell Winn
            </p>
        </div>
    </div>
    <hr/>
    <div id="studentOfficers">
        <h1 style="text-align:center">Student Officer Team</h1>
        <table frame="box" rules="rows" cellpadding="5">
            <tr>
                {% for officer in studentOfficers %}
                    <td>
                        <img src="/image/{{ officer.key.urlsafe() }}" alt="{{ officer.Name }}" width="100" />
                    </td>
                    <td>
                        <p style="font-weight:bold">{{ officer.Position }}</p>

                        <p>
                            {{ officer.Name }}<br/>
                            {{ officer.Grade }}<br/>
                            {{ officer.Major }}<br/>
                        </p>

                        <p>
                            <a href="mailto:{{ officer.Email }}">{{ officer.Email }}</a>
                        </p>
                    </td>
                    {% if loop.index % 4 == 0 %}
                        </tr>
                        {% if not loop.last %}
                            <tr>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {# Lets insert the rest of the cols in this row #}
                {% if studentOfficers|length % 4 != 0 %}
                    {% for n in range(4 - studentOfficers|length % 4) %}
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    {% endfor %}
                    </tr>
                {% endif %}
        </table>
    </div>
{% endblock %}
