{% extends "legacy/legacy-base.html" %}

{% block title -%}
    CCF Forging A Legacy Donations
{%- endblock %}

{% block meta -%}
  CCF Forging A Legacy Donations
{%- endblock %}

{% block css %}
    {{ super() }}
    <style>
    div.corner {
background: -moz-linear-gradient(-45deg,  rgba(252,134,0,1) 0%, rgba(252,134,0,0) 30%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(252,134,0,1)), color-stop(30%,rgba(252,134,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(252,134,0,1) 0%,rgba(252,134,0,0) 30%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(252,134,0,1) 0%,rgba(252,134,0,0) 30%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(252,134,0,1) 0%,rgba(252,134,0,0) 30%); /* IE10+ */
background: linear-gradient(135deg,  rgba(252,134,0,1) 0%,rgba(252,134,0,0) 30%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc8600', endColorstr='#00fc8600',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    }
    </style>
{% endblock %}

{% block content %}
<h1 style="text-align:center">Help Us Out</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus risus dolor, pretium a semper vitae, aliquet id ipsum. Nam nec massa scelerisque libero imperdiet blandit. Praesent velit diam, auctor sit amet iaculis sit amet, vestibulum a sapien. Aenean facilisis velit vel nisl elementum sed euismod justo euismod. Sed gravida quam vel ligula suscipit molestie at a mi. Nunc lobortis ultrices venenatis. Sed egestas augue nec metus pretium vitae auctor turpis tempor. Cras lobortis odio nec elit sagittis rutrum.</p>

<p>Clearly display your organization's tax-exempt status on your website.</p>

<div class="corner">
    <h2>Monthly Gift</h2>
    <p>Nunc tortor metus, dapibus quis tincidunt vitae, laoreet ut nisl. Cras facilisis tincidunt ligula sed tincidunt. Vivamus libero massa, sollicitudin non scelerisque id, placerat non orci. Integer cursus mollis diam et eleifend. Donec pharetra iaculis gravida. Aenean sodales quam felis, vitae pretium lectus. Donec eget massa dolor. Curabitur pretium orci id arcu euismod vitae tincidunt velit ullamcorper. Sed nunc odio, ultrices feugiat ullamcorper quis, sollicitudin non odio. Nunc gravida, sem vel pharetra tempus, est justo laoreet elit, ac luctus erat felis nec nulla.</p>

        <p>Nunc tortor metus, dapibus quis tincidunt vitae, laoreet ut nisl. Cras facilisis tincidunt ligula sed tincidunt. Vivamus libero massa, sollicitudin non scelerisque id, placerat non orci. Integer cursus mollis diam et eleifend. Donec pharetra iaculis gravida. Aenean sodales quam felis, vitae pretium lectus. Donec eget massa dolor. Curabitur pretium orci id arcu euismod vitae tincidunt velit ullamcorper. Sed nunc odio, ultrices feugiat ullamcorper quis, sollicitudin non odio. Nunc gravida, sem vel pharetra tempus, est justo laoreet elit, ac luctus erat felis nec nulla.</p>

    <div style="text-align:center">
        <form action="/legacy/donate/subscription" method="POST" onSubmit="return validateAmount(this.Donation_Amount)">
            <table style="margin: 0px auto;">
                <tr>
                    <td style="padding-bottom: 18px;">$ {{subscription_form.Donation_Amount(size=8)}} x {{subscription_form.Times(size=1)}} months</td>
                    <td><input alt="Donate" src="https://checkout.google.com/buttons/donateNow.gif?merchant_id=130146554817209&amp;w=115&amp;h=50&amp;style=white&amp;variant=text&amp;loc=en_US" type="image"/></td>
                </tr>
            </table>
        </form>
    </div>

</div>

<div class="corner">
<h2>One-Time Gift</h2>
<p>Suspendisse facilisis neque nec eros malesuada vitae pulvinar risus tincidunt. Nullam eros magna, aliquet vel cursus id, rhoncus a nisi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse auctor urna sit amet felis semper laoreet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere nibh non metus semper lobortis. Help I'm trapped in a latin factory. Praesent congue dolor vel lorem dapibus posuere. Vestibulum aliquam diam nunc. Ut sit amet massa metus. In euismod faucibus sem ut hendrerit. Ut eleifend mattis bibendum. Aliquam sagittis ornare ante vitae viverra. Aenean auctor malesuada pellentesque. Praesent tincidunt mauris id ante viverra sodales.</p>

    <script type="text/javascript">
    function validateAmount(amount){
        if(amount.value.match( /^[0-9]+(\.([0-9]+))?$/)){
            return true;
        }else{
            alert('You must enter a valid donation.');
            amount.focus();
            return false;
        }
    }
    </script>

    <div style="text-align:center">
        <form action="/legacy/donate/onetime" method="POST" onSubmit="return validateAmount(this.Donation_Amount)">
            <table style="margin: 0px auto;">
                <tr>
                    <td style="padding-bottom: 18px;">$ {{onetime_form.Donation_Amount(size=8)}}</td>
                    <td><input alt="Donate" src="https://checkout.google.com/buttons/donateNow.gif?merchant_id=130146554817209&amp;w=115&amp;h=50&amp;style=white&amp;variant=text&amp;loc=en_US" type="image"/></td>
                </tr>
            </table>
        </form>
    </div>
</div>

<div class="corner">
<h2>Stock Transfer</h2>
<p>Morbi quis sapien arcu, vel ultricies tellus. I have no idea how this works. Maecenas magna leo, fringilla at blandit malesuada, tempor et ligula. Maecenas vestibulum aliquam mauris, eu malesuada tellus viverra et. Suspendisse porta, nulla in feugiat iaculis, est metus condimentum purus, eu auctor turpis dui porta magna. Mauris condimentum hendrerit dolor, ut tincidunt libero semper sed. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec vitae odio ut velit facilisis pulvinar. Ut id magna justo. Curabitur vulputate fringilla lacus non imperdiet. Ut volutpat augue eget nibh fermentum ut facilisis odio pulvinar. Cras feugiat, metus sit amet tempor tempus, ligula odio tempus arcu, eu varius justo risus ut purus.</p>
</div>
{% endblock %}
