{% extends "base.html" %}

{% block css %}
    {{ super() }}
    <style>
    div.background {
        background-image: url('/images/legacy_background.jpg');
        background-size: 100%;
    }
    </style>

{#
<link type="text/css" rel="stylesheet" href="/stylesheets/navigation_dropdown.css" />
<link type="text/css" rel="stylesheet" href="/stylesheets/legacy.css" />
#}
{% endblock %}

{% block scripts %}
  {{super()}}
  <script type="text/javascript">
    $(document).ready(function() { $("#logo").attr('src', "/images/legacy_logo.png"); })
  </script>
{% endblock %}
