{% extends "base.html" %}

{% block css %}
  {{super()}}
  <link type="text/css" rel="stylesheet" href="/stylesheets/manage.css" />
{% endblock %}

{% block content %}
<div style="height:30px;">
  <a href="?tab=onhomepage" class="manageTab {% if tab == 'onhomepage' %}selectedManageTab{% endif %}">HomePage Slides</a>
  <a href="?tab=enabled" class="manageTab {% if tab == 'enabled' %}selectedManageTab{% endif %}">Enabled Slides</a>
  <a href="?tab=disabled" class="manageTab {% if tab == 'disabled' %}selectedManageTab{% endif %}">Disabled Slides</a>
  <a href="homepage_slides/new_slide" class="manageTab" style="float:right;"><strong>+</strong>Create Slide</a>
</div>
  <hr />
  {% for slide in slides %}
    <div style="overflow:auto">
      <img width="400px" height="300px" style="float:left; margin-right:10px" src="/image/{{slide.key()}}" />
      <div>
        {% if tab == 'onhomepage' %}
          {% if loop.first %}
          <span class="displayOrderArrow" style="color:grey;">&uArr;</span>
          {% else %}
          <a href="?direction=up&displayOrder={{slide.DisplayOrder}}" class="displayOrderArrow">&uArr;</a>
          {% endif %}

          {% if loop.last %}
          <span class="displayOrderArrow" style="color:grey;">&dArr;</span>
          {% else %}
          <a href="?direction=down&displayOrder={{slide.DisplayOrder}}" class="displayOrderArrow">&dArr;</a>
          {% endif %}
        {% endif %}
          <a href="homepage_slides/new_slide?edit={{slide.key()}}">Edit</a>
        {% if tab != 'disabled' %}
          <a href="{{slide.CompleteURL}}">Preview</a>
        {% endif %}
        <a href="/manage/homepage_slides/delete/{{slide.key()}}" title="Permanently delete this entry">Delete</a>
        <br />
        <br />
        {{slide.Createdby}}<br />
        {{slide.CreationDateTime}}<br />
        {{slide.Modifiedby}}<br />
        {{slide.ModifiedDateTime}}<br />
        <br />
        <strong>Enabled:</strong> {{slide.Enabled}}<br />
        <strong>Title:</strong> {{slide.Title}}<br />
        <strong>Link:</strong> {{slide.Link}}<br />
      </div>
    </div>
    <hr />
  {% else %}
    <p>No Slides</p>
  {% endfor %}
{% endblock %}
