{% extends "base.html" %}

{% block content %}
<h2><center><u>Support Christian Campus Fellowship</u></center></h2>
  <center><img src="/images/pennys.png" alt="Donate"style="float:center;margin:10px 10px 0px 0px"/></center>

<br>
<center>CCF has many plans and dreams for the ministry on the campus of Missouri S&T. We cannot do it without your help. CCF relies heavily on the prayers of our supporters. Please pray God continues to bless this ministry and our students as we focus on the goal of living out the Great Commission on this campus. There is a lot more work to be done... far too much without the power of the Holy Spirit.
<br>
We also need your financial support. CCF is supported, in part, through local churches who see a great need in reaching young people for Christ, but  support also comes from alumni and individuals like you. You can make a one time gift or on-going donations through Paypal or by sending a check to 112 East 12th, Rolla, MO 65401. We are grateful for your support.</h4></center><br>
<center>We've got some <a href="/alumni/ministry_happenings.html">big plans</a> on the horizon for this ministry.</center><br>

<center>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="FQEMMLEG8LD7S">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1" style="align:center; padding-bottom:0px">
</form></center>


{% endblock %}
