{% extends "base.html" %}

{% block title -%}
    CCF Website Management
{%- endblock %}

{% block meta -%}
    CCF Website Management
{%- endblock %}

{% block css %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" href="/stylesheets/manage.css"/>
{% endblock %}

{% block pageHeader %}
    {{ super() }}
    {% if manage_pages %}
    <div id="management-navigation" style="background-color:white; margin: 10px 0px; overflow: auto">
        {% for page_group in manage_pages %}
            <div class="manage-nav {{ loop.cycle('manage-nav-odd', 'manage-nav-even') }}">
                <div>
                    {% for page in page_group %}
                        <a class="manage-nav-inner" href="{{ page[0] }}">{{ page[1] }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}
