{% extends "manage/manage-base.html" %}

{% block content %}
    <strong>Known Issues</strong>
    <ul style="margin-top: 0;">
        <li><tt style="font-size:1.2em">Manage &gt; Housing Applications</tt> will display a maximum of 50 application notes</li>
        <li><tt style="font-size:1.2em">Catalyst &gt; Gel Groups</tt> will display a maximum of 50 groups</li>
        <li><tt style="font-size:1.2em">Manage &gt; Gel Groups</tt> will display a maximum of 50 groups</li>
        <li><tt style="font-size:1.2em">Manage &gt; Homepage Slides</tt> will display a maximum of 20 slides</li>
    </ul>

    <br/>

    <strong>Change Log</strong>
    <ul style="margin-top: 0;">
        <li>Mar. 22, 2014
            <ul>
                <li>Added restricted student access to add comments to housing applications</li>
                <li>Added cache invalidator</li>
            </ul>
        </li>
        <li>Feb. 10, 2014
            <ul>
                <li>Added User Permissions</li>
                <li>Added Top Ten page</li>
            </ul>
        </li>
        <li>Jan. 30, 2014
            <ul>
                <li>Fixed some image handling errors</li>
                <li>Redesigned the look of the housing application</li>
                <li>Added paging to housing applications</li>
                <li>Added image preview to new homepage slide</li>
            </ul>
        </li>
        <li>Dec. 7, 2013
            <ul>
                <li>Added page preview to new homepage slide</li>
            </ul>
        </li>
        <li>Nov. 26, 2013
            <ul>
                <li>Added Alumni Database Signup link to Ministry Happenings</li>
                <li>Moved external resources into /ext</li>
                <li>Fixed image handling in editing items</li>
            </ul>
        </li>
        <li>July 21, 2013
            <ul>
                <li>Moved most form handling to common code in BaseHandler</li>
            </ul>
        </li>
        <li>July 12, 2013
            <ul>
                <li>Add Staff manage page</li>
                <li>Changed page caching system to increase speed</li>
            </ul>
        </li>
        <li>June 20, 2013
            <ul>
                <li>Remove unused SemesterToBegin indexes</li>
                <li>Convert all datastore calls to use NDB</li>
                <li>Fix datetime timezones for NDB objects</li>
                <li>Code formatting for all files (py/html/css)</li>
                <li>Html Cleanups</li>
                <li>Increased displayed housing applications to 100</li>
            </ul>
        </li>
        <li>May 17, 2013
            <ul>
                <li>Added Student Officers Manage page</li>
            </ul>
        </li>
        <li>Apr. 8, 2013
            <ul>
                <li>Added general print stylesheet to entire site</li>
                <li>Added print stylesheet to manage housing applications page</li>
                <li>Added print stylesheet to view housing application page</li>
            </ul>
        </li>
        <li>Feb. 28, 2013
            <ul>
                <li>Added Count to manage housing applications</li>
            </ul>
        </li>
        <li>Feb. 26, 2013
            <ul>
                <li>Updated webapp2 to version 2.5.2</li>
                <li>Changed /housing/info to /housing/details to more reflect it's content</li>
                <li>Changed "Apply now" and "Housing Info" buttons to be more inline with the site style</li>
            </ul>
        </li>
        <li>Jan. 31, 2013
            <ul>
                <li>Implement a real timezone solution</li>
                <li>Added Housing Application reminder emails</li>
            </ul>
        </li>
        <li>Jan. 03, 2013
            <ul>
                <li>Add Semester Series manage page</li>
                <li>Add more photos to wcch page</li>
                <li>Split Addess field in Housing Application</li>
                <li>Rework SemesterToBegin to be sortable</li>
                <li>Added basic handling of BadImageError</li>
                <li>Rework handler class architecture to remove un-needed datastore operations</li>
                <li>Switched from custom http exceptions to webapp2.HTTPException</li>
            </ul>
        </li>
        <li>Oct. 09, 2012
            <ul>
                <li>Added a management navigation box</li>
                <li>Changed "About Us &gt; Staff" to "About Us &gt; Staff and Officers"</li>
                <li>Changed "Catalyst &gt; Sermon Schedule" to "Catalyst &gt; Semester Series"</li>
            </ul>
        </li>
    </ul>
{% endblock %}
