{% extends "base.html" %}

{% block title -%}
    CCF Website Management
{%- endblock %}

{% block meta -%}
    CCF Website Management
{%- endblock %}

{% block pageHeader %}
    {{ super() }}
    <div id="management-navigation" style="background-color:white; margin: 10px 0px; padding: 5px;">
        <a href="/manage">Change Log</a> |
        <a href="/manage/homepage_slides">Homepage Slides</a> |
        <a href="/manage/housing_applications">Housing Applications</a> |
        <a href="/manage/newsletter_archive">Newsletter Archive</a> |
        <a href="/manage/gel_groups">Gel Groups</a> |
        <a href="/manage/semester_series">Semester Series</a> |
        <a href="/manage/student_officers">Student Officers</a> |
        <a href="/manage/staff_positions">Staff</a> |
    </div>
{% endblock %}
