{% extends "base.html" %}

{% block content %}
	<h3>CCF exists to reach non-believing students,
	to nurture fellowship among believers,
	to deepen knowledge of and love for our Lord Jesus Christ,
	and to encourage one another to serve and worship God.</h3>
	</b>
	<ul>
		<li>
		We Believe Jesus is Lord, Son of the living God (John 1:14)
		who was sent to earth to die and take upon our sins
		so we may raise to new life (2 Cor. 5:15-21).
		Salvation is found in no one else (Acts 4:12).
		</li>
		<li>
		We Believe the Bible is God's living Word,
		inspired by Him, without error, given to us so
		that we may study and know God's will for our lives.
		Our teachings find it's authority in the timeless
		truths found only in Scripture (Hebrews 4:12, II Peter 1:20-21).
		</li>
	</ul>
{% endblock %}
