{% extends "base.html" %}

{% block css %}
  {{super()}}
  <style>
    a.bibleVerse {
      text-decoration: none;
      color: black;
    }
    a.bibleVerse:hover {
      text-decoration: underline;
    }
  </style>
{% endblock %}

{% macro verseLink(UrlPiece, VerseName) -%}
  <a href="http://biblia.com/bible/esv/{{UrlPiece}}" class="bibleVerse" target="_blank" >{{VerseName}}</a>
{%- endmacro %}

{% block content %}
	<h3><center>CCF exists to reach non-believing students,
	to nurture fellowship among believers,
	to deepen knowledge of and love for our Lord Jesus Christ,
	and to encourage one another to serve and worship God.</center></h3>
	</b>
	<ul>
		<li>
		We Believe Jesus is Lord, Son of the living God ({{ verseLink('Jn1.14', 'John 1:14') }})
		who was sent to earth to die and take upon our sins
		so we may raise to new life ({{ verseLink('2Co5.15-21', '2 Cor. 5:15-21') }}).
		Salvation is found in no one else ({{ verseLink('Ac4.12', 'Acts 4:12') }}).
		</li>
		<br>
		<li>
		We Believe the Bible is God's living Word,
		inspired by Him, without error, given to us so
		that we may study and know God's will for our lives.
		Our teachings find it's authority in the timeless
		truths found only in Scripture ({{ verseLink('Heb4.12', 'Hebrews 4:12') }}, {{ verseLink('2Pe1.20-21', 'II Peter 1:20-21') }}).
		</li>
		<br>
		<li>We Believe in the Holy Trinity,
		God existing eternally in three distinct persons,
		God the Father, Jesus the Son, and the Holy Spirit
		({{ verseLink('Mt28.19-20', 'Matt 28:19-20') }}, {{ verseLink('Jn1.1-2', 'John 1:1-2') }}, {{ verseLink('1Pe1.2', '1 Peter 1:2') }}).</li>
		<br>
		<li>We Believe in one Church, the body of believers
		in fellowship with the one true God.
		We believe in the gathering of all believers
		existing in order to carry out God's will here on earth
		({{ verseLink('Eph4.11-16', 'Eph 4:11-16') }}). We claim to be Christians only...
		not the only Christians. </li>
		<br>
		<li>We Believe and teach salvation through accumulation
		of New Testament teachings and examples. We are saved
		by grace through faith ({{ verseLink('Eph2.8', 'Eph 2:8') }}). Faith comes from hearing
		the full story of Christ; believing it, calling on the Lord,
		and seeking Him ({{ verseLink('Heb11.6', 'Heb. 11:6') }}). We confess Him as Lord,
		recognizing our sin ({{ verseLink('Ro10.9-17', 'Rom. 10:9-17') }}). Faith in Him will
		lead us to turn from living for ourselves to living for Him
		({{ verseLink('Ac2.36-45', 'Acts 2:36-45') }}, {{ verseLink('Ac3.19', '3:19') }}, {{ verseLink('Ac20.21', '20:21') }}). Baptism by immersion in water
		will complete our new birth ({{ verseLink('Jn3.3-5', 'John 3:3-5') }}, {{ verseLink('Ac8.12', 'Acts 8:12') }}, {{ verseLink('Ac8.36-38', '36-38') }},
		{{ verseLink('Ac16.30-34', '16:30-34') }}, {{ verseLink('Ac22.14', '22:14') }}, {{ verseLink('Ac22.16', '16') }}, {{ verseLink('Ro6.3-8', 'Rom. 6:3-8') }}, {{ verseLink('1Pe3.20-22', 'I Peter 3:20-22') }}).
		We grow up into His likeness as we continue to
		get to know Him ({{ verseLink('Php3.7-14', 'Phil.3:7-14') }}).</li>
	</ul>
{% endblock %}
