{% extends "base.html" %}

{% block title -%}
  CCF History
{%- endblock %}

{% block meta -%}
  How Christian Campus Fellowship Started
{%- endblock %}

{% block css %}
  {{super()}}
  <style>
    td {
      padding: 10px;
    }
  </style>
{% endblock %}

{% block content %}
<h1 class="pageTitle">History of Christian Campus Fellowship in Rolla</h1>

<div style="text-align:justify;">
  <img src="/images/cch6.jpg" alt="CCH 1208 Pine" style="float:left; margin-right:10px"/>
  <img src="/images/cch2.jpg" alt="CCH 607 State St" style="float:right; margin-left:10px"/>
  <p>
    Christian Campus Fellowship has deep roots in Rolla. In 1971, First Christian Church acquired a house across from campus at 1208 Pine to use in starting to reach out to university students.
  </p>
  <p>
    A formal board was organized over the next several months from area supporting churches to begin campus ministry. In 1972, Dr. Roger Thomas was called to serve as the first campus minister of what would come to be known as Christian Campus Fellowship. The ministry began serving students under the name F.O.C.U.S. (Fellowship of Christian University Students).
  </p>
  <h3 style="text-align:center">Residential Housing</h3>
  <p>
    One outreach of the ministry of CCF has been to provide student housing. The University granted CCF "approved housing status" which allows students with under 50 credit hours to reside in our facilities. The Christian Campus House is the only off-campus, non-Greek (fraternity or sorority) housing option for underclassmen.
  </p>
  <p>
    The ministry first began providing housing in the facility at 1208 Pine St. and grew to lease the Carnahan Building at 1310 N Pine (now Sigma Chi fraternity) for additional housing.
  </p>
  <p>
    In 1977 the board made the move to purchase property at 607 State Street, near the post office docks and behind Denny Ford Dealership. This former church building served CCF for the next 23 years housing 15-19 male students.
  </p>
  <p>
    In 1999 the property at 607 State Street was purchased from CCF by Denny Ford. This enabled CCF to purchase a large lot just 1 block east of campus at the corner of 12th and Oak to begin construction of a new facility adjoining the existing 5 apartments.
  </p>
  <p>
    In 2000 the new Christian Campus House was completed at 112 E 12th St. The facility currently has offices and room for 31 residents in the main facility and 10 more in the pre-existing apartments.
  </p>
  <p>
    In 2011, property was leased a couple of blocks from our men's facility at 1400 N. Pine for our first ever Women's Christian Campus House allowing the ministry to house up to 20 female residents.
  </p>
</div>

<h3 style="text-align:center">Campus Ministers</h3>
<table style="text-align:center; margin: 0px auto;" >
  <tr>
    <td> 1972-1977 </td>
	<td> Dr. Roger Thomas </td>
  </tr>
  <tr>
    <td> 1977-1984 </td>
	<td> Galye Lucian </td>
  </tr>
  <tr>
    <td> 1984-1997 </td>
	<td> Bob Humphrey </td>
  </tr>
  <tr>
    <td> 1997-present </td>
	<td> Allen Schofield </td>
  </tr>
  <tr>
    <td> 2004-2007 </td>
	<td> Andrew Hodges </td>
  </tr>
  <tr>
    <td> 2007-2011 </td>
	<td> Tyler Nobis </td>
  </tr>
  <tr>
    <td> 2010-present </td>
	<td> Shandi Harris </td>
  </tr>
  <tr>
    <td> 2011-present </td>
	<td> Andy Conklin </td>
  </tr>
</table>

{% endblock %}
