{% extends "base.html" %}

{% block content %}
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?ll=37.956093,-91.771073&amp;spn=0.011116,0.016544&amp;t=m&amp;z=16&amp;msa=0&amp;msid=204172381819430842603.0004bb10818e59a3820ef"></iframe><br /><small>View <a href="http://maps.google.com/maps/ms?ll=37.956093,-91.771073&amp;spn=0.011116,0.016544&amp;t=m&amp;z=16&amp;msa=0&amp;msid=204172381819430842603.0004bb10818e59a3820ef&amp;source=embed" style="color:#0000FF;text-align:left">CCH &amp; WCCH</a> in a larger map</small>
<center><p>Visit the Men's Christian Campus House at<br>112 E 12th Street<br>Rolla, MO 65401</p>
<p>Visit the Women's Christian Campus House at 1400 North Pine Street<br>Rolla, MO 65401</p></center>
{% endblock %}
