{% extends "base.html" %}

{% block content %}
<h1><center>Staff</center></h1>
<hr />
<div style="overflow:auto">
  <img src="/images/allen.jpg" alt="Allen"style="float:left;margin:10px 0px 10px 10px"/>
  <div style="margin-left:170px">
    <p><span style="font-weight:bold; font-size:22px">Allen Schofield</span></p>
    <p>Allen Schofield has served as the campus minister since 1997. Allen is an avid
    St. Louis Cardinals fan, enjoys Mt. Dew, and eating ice cream with his daughter Lily.
    His wife, Chrissy, is a very gifted artist and pianist. But more than that, the Schofields
    are passionate about sharing the love of God with others.</p>
    <p>Email Allen at <a href="allen@rollaccf.org">allen@rollaccf.org</a></p>
  </div>
</div>
<hr />
<div style="overflow:auto">
  <img src="/images/conklin.jpg" alt="Andy" style="float:left;margin:10px 0px 10px 10px"/>
  <div style="margin-left:170px">
    <p><span style="font-weight:bold; font-size:22px">Andy Conklin</span></p>
    <p>Andy Conklin joined us in July 2011 to partner with Allen and Shandi in mentoring
    the students at Missouri S&amp;T and to help prepare them for a future of loving God and
    serving His people. He married his wife, Amy, in 2005 and they have three kids, Abby,
    Paige, &amp; Crawford. In addition to loving God and his family, you will usually find
    Andy around campus refining and enjoying his two other favorite things: Espresso and
    Frisbee Golf.</p>
    <p>Email Andy at <a href="mailto:andy@rollaccf.org">andy@rollaccf.org</a></p>
  </div>
</div>
<hr />
<div style="overflow:auto">
  <img src="/images/shandi.jpg" alt="Shandi"style="float:left;margin:10px 0px 10px 10px"/>
  <div style="margin-left:170px">
    <p><span style="font-weight:bold; font-size:22px">Shandi Harris</span></p>
    Shandi has been with us since 2010, serving as CCF's first women's campus minister.
    She is passionate about helping people view themselves as God does and appreciate
    Him more. When Shandi is not working with CCF she is usually helping with her
    church's high school students, reading, cooking, analyzing a movie, or harassing
    her husband, Ben. To her, life is an adventure and you are never guaranteed tomorrow,
    so she strives to live EVERY day as though it is her last, and to never let a moment
    pass her by with regret.</p>
    <p>Email Shandi at <a href="mailto:shandi@rollaccf.org">shandi@rollaccf.org</a></p>
  </div>
</div>
<hr />
<div style="overflow:auto">
  <img src="/images/loretta.jpg" alt="Loretta"style="float:left;margin:10px 0px 10px 10px"/>
  <div style="margin-left:170px">
    <p><span style="font-weight:bold; font-size:22px">Loretta Cornick</span></p>
    <p>Loretta Cornick is the CCF Office Manager and feels blessed to be serving in this capacity with such
	incredible Christian people. She is a former Rolla business owner and has many years of office and
	financial experience on the campus of Missouri S&amp;T. She enjoys working with college students because
	of their intelligence, individuality and energy. Some of her favorite things to do for fun are fishing,
	watching movies and spending time with her two granddaughters, Clara and Eloise. Loretta believes that
	every day is a gift from God, and what you do with that gift determines the path your life will take. </p>
    <p>Email Loretta at <a href="secretary@rollaccf.org">secretary@rollaccf.org</a></p>
  </div>
</div>
<hr />
<div>
<h1><center>Board of Directors</center></h1>
<hr />
<div style="text-align:center">
  <img src="/images/board.jpg" alt="Board of Directors" />
  <p style="text-align:center;">Back row: Kent Peaslee, Sherry Duley, Janet West, Kenny Salts, Myrlen Troutt<br/ >
  Front Row: Scott Robinson, Lowell Wynn, Ginnie Carrolla, Lou Moss</p>
</div>
</div>
<hr />
<div>
  <h1><center>Student Officer Team 2012 - 2013</center></h1>
  <table frame="box" rules="rows" cellpadding="5" align="center" style="font-weight:normal; font-size:14px">
  <tr>
    <td> <img src="/images/joel.jpg" alt="Joel Hey"; style="margin:10px 0px 0px 10px";/></td>
	<td width="12.5%"><center><b>President</b><br><br>Joel Hey<br>Junior<br>Mechanical Engineering<br><br><a href="mailto:jehwt9@mst.edu">email Joel</a></center></td>
    <td> <img src="/images/austin.jpg" alt="Austin Domescik"; style="margin:10px 0px 0px 10px"/></td>
	<td width="12.5%"> <center><b>VP Outreach</b><br><br>Austin Domescik<br>Senior<br>Computer Engineering<br><br><a href="mailto:ajdv23@mst.edu">email Austin</a></center></td>
	<td><img src="/images/filmore.jpg" alt="Filmore Bouldes"; style="margin:10px 0px 0px 10px"/></td>
	<td width="12.5%"><center><b>VP Spiritual Growth</b><br><br>Filmore Bouldes<br>Senior<br>Business Management<br><br><a href="mailto:fbqm2@mail.mst.edu">email Filmore</a></center></td>
	<td><img src="/images/jordan.jpg" alt="Jordan Brandt"; style="margin:10px 0px 0px 10px"/></td>
	<td width="12.5%"><center><b>VP Service</b><br><br>Jordan Brandt<br>Senior<br>Computer Engineering<br><br><a href="mailto:jb8g3@mst.edu">email Jordan</a></center></td>
  </tr>
  <tr>
	<td><img src="/images/amy.jpg" alt="Amy Coffman"; style="margin:10px 0px 0px 10px"/></br></td>
	<td><center><b>VP Fellowship</b><br><br>Amy Coffman<br>Senior<br>Electrical Engineering<br><br><a href="mailto:asc6c2@mst.edu">email Amy</a></center></td>
	<td> <img src="/images/kevin.jpg" alt="Kevin Clark"; style="margin:10px 0px 0px 10px"/></td>
	<td><center><b>Secretary</b><br><br>Kevin Clark<br>Senior<br>Chemistry<br>(pre-med)<br><br><a href="mailto:klcdkc@mst.edu">email Kevin</a></center></td>
	<td><img src="/images/nikki.jpg" alt="Nikki Gomez"; style="margin:10px 0px 0px 10px"/></td>
	<td><center><b>Historian</b><br><br>Nikki Gomez<br>Junior<br>Biological Science<br>(pre-med)<br><br><a href="mailto:njg8tc@mst.edu">email Nikki</a></center></td>
	<td><img src="/images/fernando.jpg" alt="Fernando Felipe Martinez"; style="margin:10px 0px 0px 10px"/></td>
	<td><center><b>Resident Duck</b><br><br>Fernando Felipe Martinez<br>
  </tr>
  <tr>
	<td><img src="/images/mike.jpg" alt="Michael McConnell"; style="margin:10px 0px 0px 10px"/></td>
	<td><center><b>Worship</b><br><br>Mike McConnell<br>Senior<br>Electrical Engineering<br><br><a href="mailto:msmv2b@mail.mst.edu">email Mike</a></center></td>
	<td><img src="/images/philip.jpg" alt="Philip Honnold"; style="margin:10px 0px 0px 10px"/></td>
	<td><center><b>Worship</b><br><br>Philip Honnold<br>Sophmore<br>Nuclear Engineering<br><br><a href="mailto:phx9c@mst.edu">email Philip</a></center></td>
	<td><img src="/images/caleb.jpg" alt="Caleb Hull"; style="margin:10px 0px 0px 10px"/></td>
	<td><center><b>Men's IM</b><br><br>Caleb Hull<br>Senior<br>Chemistry<br><br><a href="mailto:cmhh55@mst.edu">email Caleb</a></center></td>
	<td><img src="/images/kayla.jpg" alt="Kayla Billadeau"; style="margin:10px 0px 0px 10px"/></td>
	<td><center><b>Women's IM</b><br><br>Kayla Billadeau<br>Senior<br>Mechanical Engineering<br><br><a href="mailto:klb43f@mst.edu">email Kayla</a></center></td>
  </tr>
  </table>
</div>
{% endblock %}
