{% extends "base.html" %}

{% block content %}
<h1><center>Meet Our Staff</center></h1><hr />
<h2>Allen Schofield</h2>
Allen Schofield has served as the campus minister since 1997. Allen is an avid St. Louis Cardinals fan, enjoys Mt. Dew, and eating ice cream with his daughter Lily. His wife, Chrissy, is a very gifted artist and pianist. But more than that, the Schofields are passionate about sharing the love of God with others.
Contact info: allen@rollaccf.org
<hr />
</b>
<h2>Andy Conklin</h2>
Andy Conklin joined us in July 2011 to partner with Allen and Shandi in mentoring the students at Missouri S&T and to help prepare them for a future of loving God and serving His people. He married his wife, Amy, in 2005 and they have three kids, Abby, Paige, & Crawford. In addition to loving God and his family, you will usually find Andy around campus refining and enjoying his two other favorite things: Espresso and Frisbee Golf.
Contact info: andy@rollaccf.org
<hr />
<h2>Shandi Harris</h2>
Shandi has been with us since 2010, serving as CCF's first women's campus minister. She is passionate about helping people view themselves as God does and appreciate Him more. When Shandi is not working with CCF she is usually helping with her church's high school students, reading, cooking, analyzing a movie, or harassing her husband, Ben. To her, life is an adventure and you are never guaranteed tomorrow, so she strives to live EVERY day as though it is her last, adn to never let a moment pass her by with regret.
Contact info: shandi@rollaccf.org
<hr />
<h2>Secretary</h2>
New Secretary coming on board very soon
{% endblock %}
