{% extends "legacy/legacy-base.html" %}

{% block title -%}
    CCF Forging A Legacy Donations
{%- endblock %}

{% block meta -%}
    CCF Forging A Legacy Donations
{%- endblock %}

{% block css %}
    {{ super() }}
    <style>
        div.corner {
            background: linear-gradient(135deg, rgba(252, 134, 0, 1) 0%, rgba(252, 134, 0, 0) 30%);
            padding-left: 5px;
            border-radius: 2px;
        }
    </style>
{% endblock %}

{% block content %}
    <h1 style="text-align:center">Help Us Out</h1>
    <p>Construction is very much in progress. The old apartments are nearly gone - only a partial wall and a pile of
        rubble remain. Room 206 upstairs is now a framed laundry room with electrical and plumbing roughed in. The
        kitchen is being gutted in preparation of the changes. Summers are always financially tough and this summer is
        no exception; with all of this chaos going on; with additional bills for displacement housing, parking lot
        addition, and our typical summer activities and light usage - money is tight. Thanks for supporting the ministry
        of Christian Campus Fellowship through your financial gifts.</p>

    <table width="960px">
        <tr>
            <td>
                <a href="/images/legacy_construction1.jpg" target="_blank">
                    <img src="/images/legacy_construction1.jpg" width="315px" height="237px">
                </a>
            </td>
            <td>
                <a href="/images/legacy_construction2.jpg" target="_blank">
                    <img src="/images/legacy_construction2.jpg" width="315px" height="237px">
                </a>
            </td>
            <td>
                <a href="/images/legacy_construction3.jpg" target="_blank">
                    <img src="/images/legacy_construction3.jpg" width="315px" height="237px">
                </a>
            </td>
        </tr>
    </table>

    <div class="corner">
        <h2>Monthly Gift</h2>

        <p>As a growing ministry, we have bills, salaries, and other regular expenses. There are some who choose to
            support the ministry with a designated monthly gift. These gifts help take away some of the financial
            stress on the business side of ministry. Knowing that each month a gift will be arrive via Pay Pal, direct
            withdrawal from your checking account, or a dependable check arriving via the USPS is comforting. Please
            consider donating monthly for a period of time.</p>

        <div style="text-align:center">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_xclick-subscriptions">
                <input type="hidden" name="business" value="secretary@rollaccf.org">
                <input type="hidden" name="lc" value="US">
                <input type="hidden" name="item_name" value="Donate to Forging a Legacy">
                <input type="hidden" name="no_note" value="1">
                <input type="hidden" name="no_shipping" value="1">
                <input type="hidden" name="src" value="1">
                <input type="hidden" name="p3" value="1">
                <input type="hidden" name="currency_code" value="USD">
                <input type="hidden" name="bn" value="PP-SubscriptionsBF:btn_subscribeCC_LG.gif:NonHosted">
                <input type="hidden" name="t3" value="M">
                <table style="width: 250px; margin: 5px auto">
                    <tr>
                        <td>Donation Amount</td>
                        <td>Months</td>
                    </tr>
                    <tr>
                        <td><input type="text" name="a3" maxlength="200" size="10"></td>
                        <td>
                        <select name="srt">
                            <option value="0">Never End</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                        </td>
                    </tr>
                </table>
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>

    </div>

    <div class="corner">
        <h2>One-Time Gift</h2>

        <p>One time gifts add excitement to the day. These gifts often come at just the right time - we've used timely
            gifts to pay off our main building debt just as we began construction on the expansion, to replace a
            copier/printer that just printed it's last page, and even to cover student activities such as opening week,
            thanksgiving banquet, and st pats. These one time gifts are often spawned from God speaking into the hearts
            of men and women to go above and beyond to take care of the ministry in Rolla.</p>

        <div style="text-align:center">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="EUBBGYWWJXZ5Y">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
    </div>

    <div class="corner">
        <h2>Stock Transfer</h2>

        <p>Donating appreciated stock from your investment portfolio instead of cash is a unique and mutually beneficial
            way to give to the ministry. The deduction for a donation of property to charity is equal to the fair market
            value of the donated property. Where the donated property is "gain" property, the donor does not have to
            recognize the gain on the donated property. These rules allow for the "doubling up," so to speak, of tax
            benefits: A charitable deduction, plus avoiding tax on the appreciation in value of the donated property.
            Ask your financial adviser for more information on how to support Christian Campus Fellowship.</p>
    </div>

    <div class="corner">
        <h2>Amazon Smile</h2>

        <p>Amazon donates 0.5% of the price of your eligible purchases to the charitable organization of your choice.
            Just by starting your shopping at <a href="https://smile.amazon.com/" target="_blank">smile.amazon.com</a>
            and search for Christian Campus Ministry, and support us. Just remember to make purchases from Amazon Smile
            and you can feel better about all those amazon purchases. AmazonSmile is the same Amazon you know; same
            products, same prices, same service.</p>
    </div>
{% endblock %}
