{% extends "legacy/legacy-base.html" %}

{% block title -%}
    CCF Forging A Legacy
{%- endblock %}

{% block meta -%}
    CCF Forging A Legacy
{%- endblock %}

{% block content %}
    <h1 class="pageTitle">Images From The Construction Site</h1>
    <div style="text-align: center">This picture was taking on {{ current_image.DateTime_cdt.strftime("%Y-%m-%d at %H:%M:%S") }}</div>
    <div>
        <div style="float: left">
            {% if before_image %}
            <a href="/legacy/time_lapse/{{ before_image.DateTime.strftime("%Y-%m-%d %H:%M:%S") }}">&lt;&lt; Previous Image</a>
            {% else %}
                &lt;&lt; Previous Image
            {% endif %}
        </div>
        <div style="float: right">
            {% if after_image %}
            <a href="/legacy/time_lapse/{{ after_image.DateTime.strftime("%Y-%m-%d %H:%M:%S") }}">Next Image &gt;&gt;</a>
            {% else %}
            Next Image &gt;&gt;
            {% endif %}
        </div>
    </div>
    <a href="/image/{{ current_image.key.urlsafe() }}">
        <img width="960px" height="720px" src="/image/{{ current_image.key.urlsafe() }}" />
    </a>
{% endblock %}
