<html>
<head>
</head>
<body>
<h2>Create New Setting</h2>

<form method="POST" action="{{ new_setting_form_action }}">
    <table style="width:100%">
        <tr>
            <td>{{ new_setting_form.Name.label }}</td>
            <td>{{ new_setting_form.Value.label }}</td>
            <td>{{ new_setting_form.ValueType.label }}</td>
            <td>{{ new_setting_form.Category.label }}</td>
        </tr>
        <tr>
            {% if isEdit %}
                <td>{{ new_setting_form.Name(style="width:100%", disabled=True) }}</td>
            {% else %}
                <td>{{ new_setting_form.Name(style="width:100%") }}</td>
            {% endif %}
            <td>{{ new_setting_form.Value(style="width:100%") }}</td>
            <td>{{ new_setting_form.ValueType(style="width:100%") }}</td>
            <td>{{ new_setting_form.Category(style="width:100%") }}</td>
        </tr>
        <tr>
            <td>{{ new_setting_form.Documentation.label }}</td>
        </tr>
        <tr>
            <td colspan="6">{{ new_setting_form.Documentation(style="width:100%") }}</td>
        </tr>
    </table>
    <input type="submit">
</form>
<hr>
<h2>Existing Settings</h2>
<table rules="rows" frame="box" style="width:100%">
    <tr>
        <th>&nbsp;</th>
        <th>Name</th>
        <th>Value</th>
        <th>Documentation</th>
    </tr>
    {% for grouper, list in existing_settings|groupby('Category') %}
        <tr>
            <td colspan="4" style="font-weight:bold; font-size:20px">{{ grouper|title }}</td>
        </tr>
        {% for existing_setting in list %}
            <tr style="{{ loop.cycle('background-color:lightgrey', '') }}">
                <td style="font-size: small; vertical-align: bottom; padding-left: 3px">
                    <a href="?edit={{ existing_setting.key.urlsafe() }}">Edit</a>
                    <a href="/admin/gae_settings/delete/{{ existing_setting.key.urlsafe() }}">Delete</a>
                </td>
                <td>{{ existing_setting.key.string_id() }}</td>
                <td>{{ existing_setting.Value }}</td>
                <td>{{ existing_setting.Documentation }}</td>
            </tr>
        {% endfor %}
    {% endfor %}
</table>
</body>
</html>
