{% extends "manage/manage-base.html" %}

{% block title -%}
    CCF Semester Series
{%- endblock %}

{% block meta -%}
    CCF Semester Series
{%- endblock %}


{% macro input(field, style="width:500px") -%}
    <tr>
        <th>{{ field.label }}</th>
        <td>{{ field(style=style, **kwargs) }}</td>
    </tr>
{%- endmacro %}

{% macro week_input(field, style="") -%}
    <tr>
        <td>{{ field.Date(style=style) }}</td>
        <td>{{ field.Speaker(style=style) }}</td>
        <td>{{ field.Topic(style=style) }}</td>
        <td>{{ field.Location(style=style) }}</td>
    </tr>
{%- endmacro %}

{% block content %}
    {% if not form %}
        <div style="font-weight:bold; margin-left:30px">New Semester Series</div>
        <form action="" method="">
            <div>
                <label for="start">First Thursday of the Semester:</label>
                <input id="start" type="text" name="start" placeholder="ex: January 23 2012"/>
            </div>
            <div>
                <label for="end">Last Thursday of the Semester:</label>
                <input id="end" type="text" name="end" placeholder="ex: May 5 2012"/>
            </div>
            <div>
                <input style="width:100px" type="submit" value="Next"/>
            </div>
        </form>
        <hr/>
        <div style="font-weight:bold; margin-left:30px">Existing Semester Series</div>
        <div class="alternating-list">
            {% for semester in Semesters %}
                <div class="list-item {{ loop.cycle('list-item-odd', 'list-item-even') }}">
                    <div class="list-item-header">
                        <a href="?edit={{ semester.key.urlsafe() }}">Edit</a>
                        <a href="/manage/semester_series/delete/{{ semester.key.urlsafe() }}"
                           onclick="return confirm('Are you sure you want to permanently delete \'{{ semester.Title }}\'? There is no way to reverse this.')">Delete</a>
                    </div>
                    <div class="list-item-body">
                        {{ semester.Title }}<br/>
                        {{ semester.Description }}<br/>
                        <img src="/image/{{ semester.key.urlsafe() }}"/>
                    </div>
                </div>
            {% else %}
                No Semesters here...Maybe you should look over there.
            {% endfor %}
        </div>
    {% else %}
        {% if form.errors %}
            <ul style="color:red; list-style-type:none;">
                {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                    {% for error in field_errors %}
                        <li>{{ form[field_name].label }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
        <form action="{% if editKey %}?edit={{ editKey }}{% endif %}" method="POST" enctype="multipart/form-data">
            <table>
                {{ input(form.Title) }}
                {{ input(form.Description, rows=10) }}
                {{ input(form.Image) }}
                {% if editKey %}
                    <tr>
                        <th>&nbsp;</th>
                        <td style="text-align: center">
                            <img src="/image/{{ editKey }}" width="300px" height="200"/>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <table>
                            <tr>
                                <th>Date</th>
                                <th>Speaker</th>
                                <th>Topic</th>
                                <th>Location</th>
                            </tr>
                            <tr>
                                <td colspan="4" style="color: gray;">Note: All cells except date can be left blank</td>
                            </tr>
                            {% for week in form.Weeks %}
                                {{ week_input(week) }}
                            {% endfor %}
                        </table>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td><input type="submit" value="Submit"/></td>
                </tr>
            </table>
        </form>
    {% endif %}
{% endblock %}
