{% extends "base.html" %}

{% block content %}
<div style="text-align:center">
{# TODO: add dates for when they can expect to get a response so they can plan #}
<p>Congratulations{% if app_name %}, {{app_name}}{% endif %}! Your application has been submitted to the powers that be!</p>
<p>Your application will be reviewed and a campus minister will get back to you. If you have any question please do not hesiate to contact us at <a href="mailto:housing@rollaccf.org">housing@rollaccf.org</a></p>
</div>
{% endblock %}
