{% extends "base.html" %}

{% block css %}
  {{super()}}
  <link type="text/css" rel="stylesheet" href="/stylesheets/jquery-ui-1.8.18.custom.css" />
{% endblock %}

{% block scripts %}
  {{super()}}
  <script type="text/javascript" src="/javascript/jquery-ui-1.8.18.custom.min.js"></script>
  <script type="text/javascript">
    $(function(){$("#accordion").accordion({ header: "h3" });})
  </script>
{% endblock %}

{% block content %}
<a href="/housing/info"><img src="/images/housinginfo.png" alt="Housing Info" style="float:left; margin:10px 0px 10px 180px"></a>
<a href="/housing/application?house=cch"><img src="/images/applynow.png" alt="Apply Now" style="float:center;margin:10px 75px 10px 75px"></a>
<a href="/housing/cchfaq"><img src="/images/faq.png" alt="FAQ" style="float:center; margin:10px 25px 10px 0px"></a>
<h2><center>Men's Christian Campus House - Housing Information</center></h2>
<div id="accordion">
  <div>
    <h3><a href="#">Campus Approved Housing</a></h3>
    <div>Our men's residential facility was completed in the fall of 2000 and provides housing for 31 male students with five adjoining apartment units  housing an additional 10 men behind the main house. We are approved by S&T as student housing for underclassmen.  </div>
  </div>
  <div>
    <h3><a href="#">Low cost, High fellowship</a></h3>
    <div>The CCH has 8 spacious bedrooms holding 3-4 residents each. In addition to these residential areas where residents sleep, study, and hang out, we also have a kitchen, lounge, recreational, and other study areas open to everyone. All this and much more at a fraction of the cost of living in the residential halls on campus.</div>
  </div>
  <div>
    <h3><a href="#">Convenient Location</a></h3>
    <div>We are located just 1 block east of campus and within walking distance to downtown Rolla, a couple of city parks, and several restaurants. </div>
  </div>
  <div>
	<h3><a href='#'>No Application Fee!</a></h3>
	<div>Call or email with questions or for rate information!</div>
  </div>
</div>
{% endblock %}
