{% extends "base.html" %}

{% block content %}
<h1><center>Frequently Asked Questions</center></h1>
  <img src="/images/cch.png" alt="Christian Campus house"style="float:right;margin:10px 10px 0px 0px"/>
<p>
<h3>Are meal plans required and how does that work?</h3>
Meal plans are required for freshmen and sophmores.
This information can be obtained by contacting Residential Life on
campus as part of your enrollment process.
<br>
<h3>What is required of me as a CCH resident?</h3>
There are only a few things that are considered required or
mandatory as a WCCH resident. Residents are expected to be 'above reproach'
		  (1st Timothy 3:2). As a resident of the WCCH,
		  you are a representative of this ministry and of Jesus Christ to
		  others within the campus community. You are to live a life of
		  integrity and have the highest of moral standards. All residents are expected to:
            <ol type="1">
              <li>Attend weekly church services at the local church of their choice. </li>
              <li>Participate in a Gel Group (weekly CCF small group Bible study).</li>
              <li>Attend and participate in the weekly CCF meeting - Catalyst. </li>
              <li>Participate in areas of service which are in keeping with those taught in the New Testament, i.e. ministering to the sick, elderly, and those in need, campus outreach, and evangelism.</li>
              <li>Attendance at one house retreat each semester and house meetings at beginning and ending of each semester, and periodically as needed.</li>
            </ol>
<img src="/images/cchlobby.jpg" alt="CCH Lobby"style="float:right;margin:10px 10px 0px 0px"/>
<h3>Do I have to bring a nerf gun?</h3>
Though not mandatory, for your own personal protection and self defense this is strongly encouraged. We have a small arsenal of Nerf guns that have been supplied by previous house residents and should be able to well defend ourselves if you desire to participate in Humans v Zombies, dominate the Men's CCH during an open house, or start a war with another apartment within the WCCH.
<h3>Where do those random flowers come from?</h3>
WThere is a guys small group called "The Forge" that throughout the semester will write notes of encouragement and buy flowers for a girl they feel God prompting them to encourage. This is an anonymous gift from a group of great godly guys! Likewise the girls in "The Garden" sometimes do this for the guys, only with cookies or cupcakes instead of flowers!
</p>
{% endblock %}
