{% extends "base.html" %}
{% block css %}
  {{super()}}
  <link type="text/css" rel="stylesheet" href="/stylesheets/jquery-ui-1.8.18.custom.css" />
{% endblock %}

{% block scripts %}
  {{super()}}
  <script type="text/javascript" src="/javascript/jquery-ui-1.8.18.custom.min.js"></script>
  <script type="text/javascript">
    $(function(){$("#accordion").accordion({ header: "h3" });})
  </script>
{% endblock %}

{% block content %}
<a href="/housing/info"><img src="/images/housinginfo.png" alt="Housing Info" style="float:left; margin:10px 0px 10px 180px"></a>
<a href="/housing/application?house=wcch"><img src="/images/applynow.png" alt="Apply Now" style="float:center;margin:10px 75px 10px 75px"></a>
<a href="/housing/wcchfaq"><img src="/images/faq.png" alt="FAQ" style="float:center; margin:10px 25px 10px 0px"></a>
<h2><center>Women's Christian Campus House - Housing Information</center></h2>
<div id="accordion">
  <div>
    <h3><a href="#">Campus Approved Housing</a></h3>
    <div>Fall 2011 was our first semester to have a women's residential facility! We are approved by S&T as student housing and can hold up to 16 girls in the main building and up to 4 in the back two apartments.</div>
  </div>
  <div>
    <h3><a href="#">Affordable, Beautiful, and Comfortable</a></h3>
    <div>TThe WCCH has 4 adorable 2 bedroom apartments holding up to 4 residents each. Each apartment has its own full bathroom, living room and full kitchen with access to a back patio. The back two apartments are slightly smaller and house only 2 students each. In addition, the WCCH has a common kitchen, study, lounge, prayer room, laundry facility and three dining spaces to entertain guests. All this is available to these women at a fraction of the cost of living in the residential halls on campus.</div>
  </div>
  <div>
    <h3><a href="#">Convenient Location</a></h3>
    <div>The WCCH is located across the street from the CE and Physics Buildings. The only way you could be closer to these classes or campus is to live in the classrooms! We are also in walking distance to several area churches, downtown Rolla, a couple of city parks and several local restaurants. </div>
  </div>
  <div>
	<h3><a href='#'>No Application Fee!</a></h3>
	<div>Call or email with questions or for rate information!</div>
  </div>
</div>
{% endblock %}
