{% extends "manage/manage-base.html" %}

{% block title -%}
    CCF Manage Housing Applications
{%- endblock %}

{% block meta -%}
    Manage Housing Applications
{%- endblock %}

{% block css %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" href="/stylesheets/print_housing_application_list.css" media="print"/>
    <style>
        .filterCatagoryShell {
            overflow: auto;
        }

        .filterCatagory {
            width: 33%;
            float: left;
        }

        .filterCatagoryLabel {
            font-weight: bold;
        }

        .filterCatagoryInner {
            padding-left: 8px;
        }

        .fieldLabel {
            font-weight: bold;
            text-align: right;
            width: 20%;
        }

        .fieldData {
            width: 30%;
        }

    .alternating-list .list-item-body {
        padding-left: 0;
    }

    {% include 'manage/housing_applications/progress_bar.css' %}
    </style>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        function disableCheckboxes(eventObject) {
            if ($('#ShowAllSemesters').is(':checked')) {
                $("#Semester1").attr('disabled', 'disabled');
                $("#Semester2").attr('disabled', 'disabled');
                $("#Semester3").attr('disabled', 'disabled');
                $("#Semester4").attr('disabled', 'disabled');
            } else {
                $("#Semester1").removeAttr('disabled');
                $("#Semester2").removeAttr('disabled');
                $("#Semester3").removeAttr('disabled');
                $("#Semester4").removeAttr('disabled');
            }
        }
        $(document).ready(function () {
            $("#ShowAllSemesters").change(disableCheckboxes);
            $("#ShowAllSemesters").change();
        });
    </script>
{% endblock %}

{% block content %}
    <noscript>
        <div style="text-align:center; background-color:red; font-size:1.3em; color:white;">
            Javascript is required. Please enable javascript.
        </div>
    </noscript>
    <form action="" method="">
        <div class="filterCatagoryShell">
            <div class="filterCatagory">
                <div class="filterCatagoryLabel">Options:</div>
                <div class="filterCatagoryInner">
                    {{ filterForm.DisplayCchHouse }}{{ filterForm.DisplayCchHouse.label }}<br/>
                    {{ filterForm.DisplayWcchHouse }}{{ filterForm.DisplayWcchHouse.label }}<br/>
                    {{ filterForm.IncludeArchived }}{{ filterForm.IncludeArchived.label }}
                </div>
            </div>
            <div class="filterCatagory">
                <div class="filterCatagoryLabel">Sorting:</div>
                <div class="filterCatagoryInner">
                    {% for field in filterForm.SortBy %}
                        {{ field }}{{ field.label }}<br/>
                    {% endfor %}
                </div>
            </div>
            <div class="filterCatagory">
                <div class="filterCatagoryLabel">Semesters:</div>
                <div class="filterCatagoryInner">
                    <table style="border-spacing:0">
                        <tr>
                            <td colspan="2">
                                {{ filterForm.ShowAllSemesters }}{{ filterForm.ShowAllSemesters.label }}</td>
                        </tr>
                        <tr>
                            <td>{{ filterForm.Semester1 }}{{ filterForm.Semester1.label }}</td>
                            <td>{{ filterForm.Semester2 }}{{ filterForm.Semester2.label }}</td>
                        </tr>
                        <tr>
                            <td>{{ filterForm.Semester3 }}{{ filterForm.Semester3.label }}</td>
                            <td>{{ filterForm.Semester4 }}{{ filterForm.Semester4.label }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <table style="width: 100%; border-bottom: gray 2px ridge">
            <tr>
                <td style="width: 33%">
                    {{ application_count }} Application{% if application_count != 1 %}s{% endif %}
                    <small>
                        (<a href="http://{{ host }}/manage/housing_applications/export?{{ query_string }}">Export</a>)
                    </small>
                </td>
                <td style="width: 33%; text-align: center">
                    {# TODO: Make this a reusable macro #}
                    {% if first_page %}
                        <a href="{{first_page}}" title="First Page">&lt;&lt;</a>
                    {% else %}
                        &lt;&lt;
                    {% endif %}
                    {% if prev_page %}
                        <a href="{{prev_page}}" title="Previous Page">&lt;</a>
                    {% else %}
                        &lt;
                    {% endif %}
                    Page {{current_page}} of {{total_pages}}
                    {% if next_page %}
                        <a href="{{next_page}}" title="Next Page">&gt;</a>
                    {% else %}
                        &gt;
                    {% endif %}
                    {% if last_page %}
                        <a href="{{last_page}}" title="Last Page">&gt;&gt;</a>
                    {% else %}
                        &gt;&gt;
                    {% endif %}
                </td>
                <td  style="width: 33%">
                    <div style="float:right;">
                        <a href="?reset_filter=1" style="font-size: smaller;">Reset Filter</a>
                        <input type="submit" value="Filter" style="height:30px; width:100px;"/>
                    </div>
                </td>
            </tr>
        </table>
        {{ filterForm.TimeStamp }}
        <script type="text/javascript">
            $('#TimeStamp').val(new Date().getTime())
        </script>
    </form>

    <div class="alternating-list">
        {% for app in applications %}
            <div class="list-item {{ loop.cycle('list-item-odd', 'list-item-even') }}">
                <div class="list-item-header">
                <ul id='progress_bar' class='stage_{{ app.Stage }}'>
                    <li>Acknowledged</li>
                    <li>References Sent</li>
                    <li>References Received</li>
                    <li>Interview Scheduled</li>
                    <li>Interview Completed</li>
                </ul>
                </div>
                <div class="list-item-body">
                    <table style="width:100%">
                        <tr>
                            <td><a class="view_link" href="/manage/housing_applications/view/{{ app.key.urlsafe() }}">View</a></td>
                            <td class="fieldLabel">Full Name:</td>
                            <td class="fieldData">{{ app.FullName }}</td>
                            <td class="fieldLabel">Time Submitted:</td>
                            <td class="fieldData">{{ app.TimeSubmitted_cdt.strftime('%a %b %d, %Y at %I:%M %p') }}</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td class="fieldLabel">House:</td>
                            <td class="fieldData">{{ app.House }}</td>
                            <td class="fieldLabel">Current Grade Level:</td>
                            <td class="fieldData">{{ app.CurrentGradeLevel }}</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td class="fieldLabel">Starting Semester:</td>
                            <td class="fieldData">{{ app.SemesterToBegin }}</td>
                            <td class="fieldLabel">Proposed Degree:</td>
                            <td class="fieldData">{{ app.ProposedDegree }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        {% else %}
            <div style="text-align:center; padding-top:5px; padding-bottom:15px;">
                No applications fit the selected filter options.
            </div>
        {% endfor %}
    </div>
{% endblock %}
