{% extends "manage/manage-base.html" %}

{% block title -%}
    CCF Housing Application ({{ app.FullName }})
{%- endblock %}

{% block meta -%}
    Manage Housing Applications
{%- endblock %}

{% block css %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" href="/stylesheets/print_housing_application_view.css" media="print"/>
{% endblock %}

{% block content %}
    <table style="width:100%">
        <tr>
            <td style="width:50%"><strong>Time
                Submitted:</strong> {{ app.TimeSubmitted_cdt.strftime('%a %b %d, %Y at %I:%M %p') }}</td>
            {% if app.Acknowledged %}
                <td style="width:50%">
                    <strong>Time Acknowledged:</strong>
                    <span title="{{ app.TimeAcknowledged_cdt.strftime('%a %b %d, %Y at %I:%M %p') }}">
                        {{ app.TimeAcknowledged_cdt.strftime("%b %d, %Y") }} ({{ app.AcknowledgedBy.nickname() }})
                    </span>
                </td>
            {% else %}
                <td style="width:50%"><strong>Time Acknowledged:</strong> None; <a
                        href="/manage/housing_applications/acknowledge/{{ app.key.urlsafe() }}">Acknowledge</a></td>
            {% endif %}
        </tr>
    </table>
    <hr/>

    <div style="overflow:auto">
        <fieldset style="float:left; width:445px;">
            <legend>General Info</legend>
            <table>
                <tr>
                    <td class="application-display-label">{{ app._properties['House']._verbose_name }}:</td>
                </tr>
                <tr>
                    <td>{{ app.House }}</td>
                </tr>
                <tr>
                    <td class="application-display-label">{{ app._properties['FullName']._verbose_name }}:</td>
                </tr>
                <tr>
                    <td>{{ app.FullName }}</td>
                </tr>
                <tr>
                    <td class="application-display-label">{{ app._properties['EmailAddress']._verbose_name }}:</td>
                </tr>
                <tr>
                    <td>{{ app.EmailAddress }}</td>
                </tr>
                <tr>
                    <td class="application-display-label">{{ app._properties['PhoneNumber']._verbose_name }}:</td>
                </tr>
                <tr>
                    <td>{{ app.PhoneNumber }}</td>
                </tr>
                <tr>
                    <td class="application-display-label">{{ app._properties['DateOfBirth']._verbose_name }}:</td>
                </tr>
                <tr>
                    <td>{{ app.DateOfBirth }}</td>
                </tr>
                <tr>
                    <td class="application-display-label">{{ app._properties['HomeAddress']._verbose_name }}:</td>
                </tr>
                <tr>
                    <td>{{ app.HomeAddress }}</td>
                </tr>
                <tr>
                    <td class="application-display-label">{{ app._properties['CurrentGradeLevel']._verbose_name }}:</td>
                </tr>
                <tr>
                    <td>{{ app.CurrentGradeLevel }}</td>
                </tr>
                <tr>
                    <td class="application-display-label">{{ app._properties['ProposedDegree']._verbose_name }}:</td>
                </tr>
                <tr>
                    <td>{{ app.ProposedDegree }}</td>
                </tr>
                <tr>
                    <td class="application-display-label">{{ app._properties['SemesterToBeginIndex']._verbose_name }}:</td>
                </tr>
                <tr>
                    <td>{{ app.SemesterToBegin }}</td>
                </tr>
            </table>
        </fieldset>

        <fieldset style="float:right; width:445px;">
            <legend>References</legend>
            <div style="margin-bottom: 5px;">
                <span>Your Parents</span>

                <div style="margin-left: 10px;">
                    <table>
                        <tr>
                            <td colspan="2">
                                <span class="application-display-label">{{ app._properties['ParentNames']._verbose_name }}</span>
                                {{ app.ParentNames }}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span class="application-display-label">{{ app._properties['ParentPhoneNumber']._verbose_name }}</span>
                                {{ app.ParentPhoneNumber }}
                            </td>
                            <td>
                                <span class="application-display-label">{{ app._properties['ParentEmail']._verbose_name }}</span>
                                {{ app.ParentEmail }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div style="margin-bottom: 5px;">
                <span>The staff member at your home church that knows you best</span>

                <div style="margin-left: 10px;">
                    <table>
                        <tr>
                            <td colspan="2">
                                <span class="application-display-label">{{ app._properties['HomeChurchName']._verbose_name }}</span>
                                {{ app.HomeChurchName }}
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                <span class="application-display-label">{{ app._properties['HomeChurchMinisterName']._verbose_name }}</span>
                                {{ app.HomeChurchMinisterName }}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span class="application-display-label">{{ app._properties['HomeChurchPhoneNumber']._verbose_name }}</span>
                                {{ app.HomeChurchPhoneNumber }}
                            </td>
                            <td>
                                <span class="application-display-label">{{ app._properties['HomeChurchEmail']._verbose_name }}</span>
                                {{ app.HomeChurchEmail }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div>
                <span>Additional reference</span>

                <div style="margin-left: 10px;">
                    <table>
                        <tr>
                            <td colspan="2">
                                <span class="application-display-label">{{ app._properties['OtherReferenceRelation']._verbose_name }}</span>
                                {{ app.OtherReferenceRelation }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <span class="application-display-label">{{ app._properties['OtherReferenceName']._verbose_name }}</span>
                                {{ app.OtherReferenceName }}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span class="application-display-label">{{ app._properties['OtherReferencePhoneNumber']._verbose_name }}</span>
                                {{ app.OtherReferencePhoneNumber }}
                            </td>
                            <td>
                                <span class="application-display-label">{{ app._properties['OtherReferenceEmail']._verbose_name }}</span>
                                {{ app.OtherReferenceEmail }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </fieldset>
    </div>

    <p><span class="application-display-label">{{ app._properties['HowAndWhy']._verbose_name }}</span>
         {{ app.HowAndWhy|replace('\n', '<br />')|safe }}
    </p>
    <p><span class="application-display-label">{{ app._properties['LeadershipRoles']._verbose_name }}</span>
        {{ app.LeadershipRoles|replace('\n', '<br />')|safe }}
    </p>
    <p><span class="application-display-label">{{ app._properties['TalentsAndInterests']._verbose_name }}</span>
        {{ app.TalentsAndInterests|replace('\n', '<br />')|safe }}
    </p>
    <p><span class="application-display-label">{{ app._properties['CriminalActivity']._verbose_name }}</span>
        {{ app.CriminalActivity|replace('\n', '<br />')|safe }}
    </p>
    <p><span class="application-display-label">{{ app._properties['MedicalAllergies']._verbose_name }}</span>
        {% if app.MedicalAllergies %}
            {{ app.MedicalAllergies|replace('\n', '<br />')|safe }}
        {% else %}
            (No response from applicant)
        {% endif %}
    </p>
    <p><span class="application-display-label">{{ app._properties['Medications']._verbose_name }}</span>
        {% if app.Medications %}
            {{ app.Medications|replace('\n', '<br />')|safe }}
        {% else %}
            (No response from applicant)
        {% endif %}
    </p>

    <hr/>

    <div class="alternating-list">
        {% for note in notes %}
            <div class="list-item {{ loop.cycle('list-item-odd', 'list-item-even') }}">
                <div class="list-item-header">{{ note.Createdby.nickname() }}
                    at {{ note.CreationDateTime_cdt.strftime('%a %b %d, %Y at %I:%M %p') }}</div>
                <div class="list-item-body">{{ note.Content|replace('\n', '<br />')|safe }}</div>
            </div>
        {% else %}
            <p>No notes have been added to this application</p>
        {% endfor %}
    </div>

    <form id="housing-application-add-comment-form" action="?key={{ app.key.urlsafe() }}" method="POST">
        <hr/>
        Add Notes:
        {{ noteForm.Content(style="width:100%; height:100px;") }}
        <input type="submit" value="Submit Notes"/>
    </form>

{% endblock %}
