{% extends "manage/manage-base.html" %}

{% block title -%}
    CCF New Homepage Slide
{%- endblock %}

{% block meta -%}
    CCF New Homepage Slide
{%- endblock %}

{% block css %}
    {{ super() }}
    <style>
        div.content {
            /* temporary workaround of crbug.com/117102 */
            overflow: auto;
        }
        .tt {
            border:1px solid #999999;
            font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
        }
        .slug{
            background-color: lightblue;
            font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
        }
    </style>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <!-- HACK: This script is a hack and may not always work -->
    <script type="text/javascript">
        $(window).load(function() {
            $("#link").width(($("#linkRow").width() - $("#prefix").width()) - 10);
        })
    </script>

    <script type="text/javascript">
        function update_image() {
            var input = $("#Image")[0];
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image-preview').attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        function update_html() {
            $('#html-preview').html(
                $('#Html').val()
            );
        }

        $(window).load(function() {
            update_html();
            update_image();
            $('#Html').keyup(function(){
                update_html();
            });
            $("#Image").change(function(){
                update_image();
            });
        })
    </script>
{% endblock %}

{% block content %}

    {% if form.errors %}
        <ul class="errors">
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                    <li>{{ form[field_name].label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post" action="?edit={{ editKey }}" enctype="multipart/form-data">
        {% if error_msg %}
            <div style="color:red">{{ error_msg }}</div>{% endif %}
        <table>
            {# TODO: add error handling #}
            <tr>
                <td>{{ form.Enabled.label }}</td>
                <td>{{ form.Enabled() }}</td>
                <td>If enabled the slide can be accessed by its URL</td>
            </tr>
            <tr>
                <td colspan="3">
                    <hr/>
                </td>
            </tr>
            <tr>
                <td>{{ form.onHomepage.label }}</td>
                <td>{{ form.onHomepage() }}</td>
                <td>If selected, the slide will show up in the homepage rotation<br/>
                    There can only be a maximum of {{ MaxHomepageSlides }} slides on the homepage at one time
                </td>
                <script type="text/javascript">
                    $.ready($("#enabled").change(function () {
                        if ($("#enabled").is(':checked')) {
                            $("#onHomepage").removeAttr('disabled');
                        } else {
                            $("#onHomepage").attr('disabled', 'disabled');
                        }
                    }).change())
                </script>
            </tr>
            <tr>
                <td colspan="3">
                    <hr/>
                </td>
            </tr>
            <tr>
                <td>{{ form.Image.label }}</td>
                <td>
                    {% if editKey %}
                        <div style="text-align: center">
                            <img src="/image/{{ editKey }}" width="200px" height="150"/>
                        </div>
                    {% endif %}
                    {{ form.Image() }}
                </td>
                <td>The image that will be used as the slide<br/>The image should be 600x450px in png format</td>
            </tr>
            <tr>
                <td colspan="3">
                    <hr/>
                </td>
            </tr>
            <tr>
                <td>{{ form.Link.label }}</td>
                <td id="linkRow"><span id="prefix">{{ LinkPrefix }}/</span>{{ form.Link(id="link") }}</td>
                <td>When the image is clicked, the user will be redirected to this url, this is an arbitrary url, but
                    you should probably pick something descriptive like SpringBreakMissionTrip2012
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <hr/>
                </td>
            </tr>
            <tr>
                <td>{{ form.Title.label }}</td>
                <td>{{ form.Title(size=78) }}</td>
                <td>
                    The title of the page that will be linked to<br/>
                    For example, the title of this page is &quot;CCF New Homepage Slide&quot;
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <hr/>
                </td>
            </tr>
            <tr>
                <td>{{ form.Html.label }}</td>
                <td>{{ form.Html(rows="20",cols="60") }}</td>
                <td style="vertical-align: top;">
                    <p>
                        The HTML of the page that is shown when the user clicks on the slide
                    </p>
                    <p>
                        <span class="tt">&lt;br /&gt;</span> will create a new line
                    </p>
                    <p>
                        <span class="tt">&lt;p&gt;<span class="slug">text</span>&lt;/p&gt;</span> will create a
                        paragraph with <span class="slug">text</span> being the text of the paragraph
                    </p>
                    <p>
                        <span class="tt">&lt;a href="<span class="slug">url</span>"&gt;<span class="slug">text</span>&lt;/a&gt;</span>
                        will create a link with <span class="slug">url</span> being the url it will redirect to and
                        <span class="slug">text</span> being the text of the link
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <hr/>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <input type="submit" value="Save Slide"/>
                </td>
            </tr>
        </table>
    </form>
    <div style="border-bottom: solid #000000 1px; text-align: center; font-size: 26px; margin-bottom: 5px ">Page Preview</div>
    <div id="page-preview">
        {% if editKey %}
            <img id="image-preview" width="600px" height="450px" src="/image/{{ editKey }}" style="float:left; margin-right:15px; margin-bottom:15px"/>
        {% else %}
            <img id="image-preview" width="600px" height="450px" src="#" style="float:left; margin-right:15px; margin-bottom:15px"/>
        {% endif %}
        <div id="html-preview"></div>
    </div>
{% endblock %}
