{% extends "base.html" %}

{% block title -%}
  CCF Freshmen Resources
{%- endblock %}

{% block meta -%}
  Resources for incoming freshmen about Christian Campus Fellowship
{%- endblock %}

{% block css %}
  {{super()}}
  <!-- temporary workaround of crbug.com/117102 -->
  <style>
    div.content { overflow: auto; }
  </style>
  <link type="text/css" rel="stylesheet" href="/stylesheets/freshmen.css" />
{% endblock %}

{% block content %}
<h1><center>Freshmen Information</center></h1>
<div class="freshmeninfocontainer">
	<div class="left-side" style="text-align:center;">
		<font color="white"><b><font size="12px">O-Week</font></b><br>
		<b>Sunday - Frisbee Golf</b><br>
		Join us at 9pm at the CCH for the most legendary tour of campus combining skill and a little bit of crazy.<br><br>
		<b>Monday - Extreme Rec Night</b><br>
		Meet at and around the multi-purpose building from 7pm-9pm for sports and games galore.<br><br>
		<b>Tuesday - Photo Scavenger hunt</b><br>
		Start from the CCH lawn at 7pm and snap a photo of everything on your team's list and get back to the CCH for prizes, ice cream, and tye-dye fun!<br><br>
		<b>Wednesday - Coffee House</b><br>
		Coffee. Cocoa. Coffee. Music. CCH Basement at 7pm<br><br>
		<b>Thursday - Catalyst</b><br>
		Praise, worship, fellowship, and a message at the St. Pat's B&amp;C ballrooms in Havener at 7pm followed by fried Oreos at the CCH.<br><br>
		<b>Friday - Root Beer Kegger</b><br>
		Bring your favorite mug to the CCH at 7pm and fill it with Fitz's while you mingle. We'll be showing a movie on the lawn after dark.<br><br>
		<b>Saturday - CCF Luau</b><br>
		Aloha! You want to experience this little bit of paradise in Rolla. Starting with the torch run at 5am, roasting TWO pigs all day long and feasting around 5pm.
	</font>
	</div>
	<div class="right-side">
		<div class="right-full" >
		Welcome! We are excited for this coming fall - it represents not only the start to another school year, but also the start to many new and exciting relationships. Here are some of the basics that you as incoming students or the parents of incoming students will want. </div>
		<div class="right-half" style="background-color:#0492cd;"><center><h3><a href="/catalyst/gel_groups.html">Gel Groups</a></h3>Gel groups are student led small groups that meet off-campus weekly on Monday, Tuesday, or Wednesday at various times. Since we have mutiple studies going on, you are sure to find a study that will be a encouragement to you. Gel groups are a great opportunity to get to know others on a personal level and to dig deeper together into the Scriptures.</center></div>
		<div class="right-half" style="background-color:#a93cd4; font-size:23px" ><h3><center>Housing</h3><center>Christian Campus Fellowship offers campus approved housing at what we refer to as the CCH (Christian Campus House). We have both <a href="/housing/cch.html">men's </a>and <a href="/housing/wcch.html">women's </a>housing both conveniently located <a href="/aboutus/location.html">just off campus.</a></center></div>
		<div class="right-full" style="background-color:white;"><strong>Christian Campus Fellowship</strong> exists to <strong>reach</strong> non believing students, nurture <strong>fellowship</strong> among believers, <strong>deepen knowledge</strong> of and <strong>love</strong> for our <strong>Lord and Savior Jesus Christ</strong>, and to <strong>encourage</strong> one another to <strong>serve</strong> and <strong>worship</strong> God.</div>

	</div>
	<div style="clear:both"></div>

</div>
{% endblock %}
