{% extends "base.html" %}

{% block content %}
<h1><center>Freshmen Information</center></h1>
<div style="width:300px; height:450px; background-color:black; font-color:white; font-size:22px; font-weight:bold;">.
<center><b>Sunday - Frisbee Golf @ 9pm</b><br>
Meet at the CCH for a legendary event combining skill and a little bit of crazy...frisbee golf.<br><br>
<b>Monday - Extreme Rec Night 7pm-9pm</b><br>
Join us at and around the Multi-Purpose building for sports and games galore!<br><br>
<b>Tuesday - Photo Scavenger Hunt @ 7pm</b>

</center>
</div>
{% endblock %}
