{% extends "base.html" %}

{% block css %}
  {{super()}}
  <link type="text/css" rel="stylesheet" href="/stylesheets/manage.css" />
  <style>
    .odd { background-color:gray; }
    .even {}
    .filterCatagoryShell { overflow:auto; }
    .filterCatagory { width:33%; float:left; }
    .filterCatagoryLabel { font-weight:bold; }
    .filterCatagoryInner { padding-left:8px; }
    .fieldLabel { font-weight:bold; text-align:right; width:20%; }
    .fieldData{ width:30%; }
  </style>
{% endblock %}

{% block content %}
<form action="" method="">
  <div class="filterCatagoryShell">
    <div class="filterCatagory" >
      <div class="filterCatagoryLabel">House:</div>
      <div class="filterCatagoryInner">
        {{filterForm.DisplayCchHouse}}{{filterForm.DisplayCchHouse.label}}<br />
        {{filterForm.DisplayWcchHouse}}{{filterForm.DisplayWcchHouse.label}}
      </div>
    </div>
    <div class="filterCatagory" >
      <div class="filterCatagoryLabel">Sorting:</div>
      <div class="filterCatagoryInner">
        {{filterForm.SortBy.label}}{{filterForm.SortBy}}<br />
        {{filterForm.SortDirection.label}}<br />{% for f in filterForm.SortDirection %}{{f}}{{f.label}}{% endfor %}
      </div>
    </div>
    <div class="filterCatagory" >
      <div class="filterCatagoryLabel">Options:</div>
      <div class="filterCatagoryInner">
        {{filterForm.IncludePastSemesters(disabled=disabled, checked=checked)}}{{filterForm.IncludePastSemesters.label}}<br />
        {{filterForm.IncludeArchived}}{{filterForm.IncludeArchived.label}}
      </div>
    </div>
  </div>
  <div style="overflow:auto;">
    <input type="submit" value="Filter" style="float:right; height:30px; width:80px;"/>
  </div>
</form>
<hr />
{# TODO: Make pages work #}
{# First <a href="?page={{ page - 1 }}">&lt;&lt;</a> {{page}} <a href="?page={{page + 1}}">&gt;&gt;</a> Last #}

{% for app in applications %}
  <div class="{{ loop.cycle('odd', 'even') }}">
    <div style="padding-top:5px;padding-left:10px;">
      <a href="housing_applications/view_housing_application?key={{app.key()}}">View</a>
      <a href="housing_applications/archive/{{app.key()}}" title="Remove this applicaion from all queries">Archive</a>
    </div>
    <table style="width:100%">
      <tr>
        <td class="fieldLabel">Full Name:</td><td class="fieldData">{{app.FullName}}</td>
        <td class="fieldLabel">Time Submitted:</td><td class="fieldData">{{app.PrintFormatedDateTime}}</td>
      </tr>
      <tr>
        <td class="fieldLabel">House:</td><td class="fieldData">{{app.House}}</td>
        <td class="fieldLabel">Current Grade Level:</td><td class="fieldData">{{app.CurrentGradeLevel}}</td>
      </tr>
      <tr>
        <td class="fieldLabel">Starting Semester:</td><td class="fieldData">{{app.SemesterToBegin}}</td>
        <td class="fieldLabel">Proposed Degree:</td><td class="fieldData">{{app.ProposedDegree}}</td>
      </tr>
    </table>
  </div>
{% endfor %}
{% endblock %}
