{% extends "base.html" %}

{% block title -%}
    CCF Website Management
{%- endblock %}

{% block meta -%}
    CCF Website Management
{%- endblock %}

{% block pageHeader %}
    {{super()}}
    <div style="background-color:white; margin: 10px 0px; padding: 5px;">
        <a href="/manage/homepage_slides">Homepage Slides</a> |
        <a href="/manage/housing_applications">Housing Applications</a> |
        <a href="/manage/newsletter_archive">Newsletter Archive</a> |
        <a href="/manage/gel_groups">Gel Groups</a> |
        <a href="/manage/semester_series">Semester Series</a> |
    </div>
{% endblock %}
