{% extends "base.html" %}

{% block title -%}
    CCF Website Management
{%- endblock %}

{% block meta -%}
    CCF Website Management
{%- endblock %}

{% block pageHeader %}
    {{super()}}
    <div style="background-color:white; margin: 10px 0px; padding: 5px;">
        <a href="/manage/homepage_slides">Manage Homepage Slides</a> |
        <a href="/manage/housing_applications">Manage Housing Applications</a> |
        <a href="/manage/newsletter_archive">Manage Newsletter Archive</a> |
        <a href="/manage/gel_groups">Manage Gel Groups</a>
    </div>
{% endblock %}
