{% extends "manage/manage-base.html" %}

{% block content %}
    <strong>Known Issues</strong>
    <ul>
        <li><tt style="font-size:1.2em">Manage &gt; Housing Applications</tt> will display a maximum of 50 applications</li>
        <li><tt style="font-size:1.2em">Manage &gt; Housing Applications</tt> will display a maximum of 50 application notes</li>
        <li><tt style="font-size:1.2em">Catalyst &gt; Gel Groups</tt> will display a maximum of 50 groups</li>
        <li><tt style="font-size:1.2em">Manage &gt; Gel Groups</tt> will display a maximum of 50 groups</li>
        <li><tt style="font-size:1.2em">Manage &gt; Homepage Slides</tt> will display a maximum of 20 slides</li>
    </ul>

    <br />

    <strong>Change Log</strong>
    <ul>
        <li>Jan. 03, 2013
            <ul>
                <li>Add Semester Series manage page</li>
                <li>Add more photos to wcch page</li>
                <li>Split Addess field in Housing Application</li>
                <li>Rework SemesterToBegin to be sortable</li>
                <li>Added basic handling of BadImageError</li>
                <li>Rework handler class architecture to remove un-needed datastore operations</li>
                <li>Switched from custom http exceptions to webapp2.HTTPException</li>
            </ul>
        </li>
        <li>Oct. 09, 2012
            <ul>
                <li>Added a management navigation box</li>
                <li>Changed "About Us &gt; Staff" to "About Us &gt; Staff and Officers"</li>
                <li>Changed "Catalyst &gt; Sermon Schedule" to "Catalyst &gt; Semester Series"</li>
            </ul>
        </li>
    </ul>
{% endblock %}
