/* Base html */
html {
    font-family: arial;
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 980px;
}

div.background-gradient {
    min-height: 100%;
    /* for older browsers */
    background-color: #6B7D85;
    /* for html5 browsers */
    background-image: linear-gradient(to bottom left, #6B7D85 10%, #092D35 90%);
}

div.background-image {
    min-height: 100%;
    background-image: url('/images/background.png');
}

body {
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 980px;
    padding: 0;
    margin: 0;
}

img {
    border: none;
}

div.container {
    min-height: 100%;
    width: 980px;
    margin: 0 auto;
}

div.header {
    width: 100%;
    min-width: 980px;
}

table#headerTable {
    width: 980px;
    padding: 0;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0;
    border-collapse: collapse;
}

table#headerTable tr {
    padding: 0;
    margin: 0;
}

table#headerTable td {
    padding: 0;
    margin: 0;
}

div.logo {
    text-align: center;
    width: 135px;
}

div.headerText {
    text-align: center;
}

div.navigation {

}

div.content {
    width: 960px;
    clear: left;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    padding: 10px 10px 3px 10px;
    margin-top: 15px;
    /* temporary workaround of crbug.com/117102
       Currently it does not seem to adversly affect any pages
       but I might have to make it a per page setting if 117102
       isn't fixed soon
    overflow: auto;
    */
    border-radius: 10px 10px 2px 2px;
    box-shadow: 1px 1px 20px #888 inset;
}

div.footer {
    color: white;
    padding: 0;
    text-align: center;
    margin: 5px;
}

div.footer  img {
    margin: 5px;
}

/* common elements */
h1.pageTitle {
    text-align: center;
}

.maskedLink {
    text-decoration: none;
    color: black;
}

.maskedLink:hover {
    text-decoration: underline;
}

div.sidebarPicture {
    margin-bottom: 10px;
}

div.sidebarPicture div.caption {
    text-align: center;
}

div.sidebarPicture div.subcaption {
    font-size: small;
    text-align: center;
}
