div.left-side {
    width: 330px;
    padding: 7px;
    margin-bottom: 20px;
    margin-left: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
    float: left;
}

div.right-side {
    margin-right: 10px;
    width: 580px;
    float: right;
    border-radius: 10px;
}

div.right-half {
    height: 400px;
    padding: 7px;
    float: left;
    width: 270px;
    border-radius: 10px;
    font-size: 20px;
}

div.right-full {
    background-color: orange;
    margin-bottom: 10px;
    padding: 30px 7px;
    text-align: center;
    clear: both;
    border-radius: 10px;
    font-style: italic;
    font-size: 22px;
}

h4.oWeekDayHeader {
    margin-bottom: 0;
    border-bottom: solid white 1px;
}

p.oWeekDayDescription {
    margin-top: 1px;
    text-align: center;
}
